<div id="CaptchaPreview">
	<div class="titlebar">
		<ui-image src="basic_interface/titlebar_mid.bmp"></ui-image>
		<div class="left">
			<ui-button
				class="base"
				bg="basic_interface/sys_base_off.bmp"
				hover="basic_interface/sys_base_on.bmp"
			></ui-button>
		</div>
		<div class="right">
			<ui-button
				class="base close"
				bg="basic_interface/sys_close_off.bmp"
				hover="basic_interface/sys_close_on.bmp"
			></ui-button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="container">
		<div class="preview_box"></div>
	</div>
</div>
