<div id="charcreate">
	<ui-image src="login_interface/win_make.bmp"></ui-image>
	<div class="chargen">
		<ui-button class="left" bg="scroll1left.bmp"></ui-button>
		<ui-button class="up" bg="scroll0up.bmp"></ui-button>
		<ui-button class="right" bg="scroll1right.bmp"></ui-button>
		<canvas width="65" height="110"></canvas>
	</div>
	<input type="text" data-background="login_interface/name-edit.bmp" value="" />

	<div class="graph">
		<ui-button class="str" bg="login_interface/arw-str0.bmp" down="login_interface/arw-str1.bmp"></ui-button>
		<ui-button class="agi" bg="login_interface/arw-agi0.bmp" down="login_interface/arw-agi1.bmp"></ui-button>
		<ui-button class="vit" bg="login_interface/arw-vit0.bmp" down="login_interface/arw-vit1.bmp"></ui-button>
		<ui-button class="int" bg="login_interface/arw-int0.bmp" down="login_interface/arw-int1.bmp"></ui-button>
		<ui-button class="dex" bg="login_interface/arw-dex0.bmp" down="login_interface/arw-dex1.bmp"></ui-button>
		<ui-button class="luk" bg="login_interface/arw-luk0.bmp" down="login_interface/arw-luk1.bmp"></ui-button>
		<canvas width="158" height="158"></canvas>
	</div>

	<div class="info">
		<div class="str">5</div>
		<div class="agi">5</div>
		<div class="vit">5</div>
		<div class="int">5</div>
		<div class="dex">5</div>
		<div class="luk">5</div>
	</div>

	<div class="btns">
		<ui-button class="btn cancel" bg="btn_cancel.bmp" hover="btn_cancel_a.bmp" down="btn_cancel_b.bmp"></ui-button>
		<ui-button class="btn make" bg="btn_make.bmp" hover="btn_make_a.bmp" down="btn_make_b.bmp"></ui-button>
	</div>
</div>
