:host {
	width: 100%;
	height: 100%;
	pointer-events: none;
}

#MobileUI {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

#MobileUI button,
#MobileUI .joystick-base {
	pointer-events: auto;
}

#MobileUI * {
	z-index: 1000;
}

#MobileUI .buttonBar,
#MobileUI #toggleUIButton {
	position: absolute;
}

#MobileUI #toggleUIButton {
	top: 1%;
	left: 1%;
	width: 6.5vmin;
	height: 6.5vmin;
}

#MobileUI .buttons {
	background: rgba(193, 193, 193, 0.33);
	border-radius: 6px;
	border: 1px solid grey;
	font-size: 4vmin;
	font-weight: bold;
}

#MobileUI .mobileKeys {
	visibility: inherit;
}

#MobileUI .horizontal {
	margin: 0 3.5vmin;
}

#MobileUI .vertical {
	margin: 3.5vmin 0;
}

#MobileUI .disabled {
	visibility: hidden;
}

#MobileUI #topBar {
	left: 50%;
	top: 1%;
	transform: translate(-50%, 0);
}

#MobileUI #leftBar {
	left: 1%;
	bottom: 35%;
	transform: translate(0, 50%);
}

#MobileUI #rightBar {
	right: 1%;
	bottom: 35%;
	transform: translate(0, 50%);
}

#MobileUI #rightBar .buttons {
	float: right;
}

#MobileUI .active {
	background: linear-gradient(135deg, rgba(144, 238, 144, 0.5), rgba(193, 255, 193, 0.8));
	border: 2px solid rgba(144, 238, 144, 0.8);
	box-shadow: 0px 4px 8px rgba(144, 238, 144, 0.4);
	border-radius: 8px;
	animation: pulse 1.5s infinite;
	transition:
		background 0.3s ease,
		box-shadow 0.3s ease,
		transform 0.3s ease;
}

#MobileUI #toggleUIButton:active {
	background: linear-gradient(135deg, rgba(144, 238, 144, 0.5), rgba(193, 255, 193, 0.8));
	border: 2px solid rgba(144, 238, 144, 0.8);
	box-shadow: 0px 4px 8px rgba(144, 238, 144, 0.4);
	border-radius: 8px;
	animation: pulse 1.5s infinite;
	transition:
		background 0.3s ease,
		box-shadow 0.3s ease,
		transform 0.3s ease;
}

@keyframes pulse {
	0% {
		box-shadow: 0px 4px 8px rgba(144, 238, 144, 0.4);
	}
	50% {
		box-shadow: 0px 6px 12px rgba(144, 238, 144, 0.6);
	}
	100% {
		box-shadow: 0px 4px 8px rgba(144, 238, 144, 0.4);
	}
}

#MobileUI .pressed {
	background: rgba(193, 255, 255, 0.33);
}

#MobileUI .primary {
	width: 11vmin;
	height: 11vmin;
}

#MobileUI .secondary {
	width: 7.5vmin;
	height: 7.5vmin;
}

/* Container for all buttons -MicromeX */
#MobileUI #buttonContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	bottom: 10%;
	right: 10%;
	width: 37.5vmin;
	height: 37.5vmin;
	z-index: 1000;
}

/* Attack Button (center and larger) -MicromeX */
#MobileUI .atkButton {
	position: absolute;
	width: 17.5vmin;
	height: 17.5vmin;
	background-color: #f44336;
	border: 1px solid #666;
	border-radius: 50%;
	font-size: 7vmin;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

/* Functional Buttons (around the attack button) -MicromeX */
#MobileUI .pickupButton {
	position: absolute;
	width: 10vmin;
	height: 10vmin;
	background: rgba(193, 193, 193, 0.33);
	border: 1px solid #666;
	border-radius: 50%;
	font-size: 6.25vmin;
	color: rgb(0, 0, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

#MobileUI .talktonpcButton {
	position: absolute;
	width: 10vmin;
	height: 10vmin;
	background: rgba(193, 193, 193, 0.33);
	border: 1px solid #666;
	border-radius: 50%;
	font-size: 6.25vmin;
	color: rgb(0, 0, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

#MobileUI .switchshorcutButton {
	position: absolute;
	width: 10vmin;
	height: 10vmin;
	background: rgba(193, 193, 193, 0.33);
	border: 1px solid #666;
	border-radius: 50%;
	font-size: 6.25vmin;
	font-weight: bold;
	color: rgb(0, 0, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

/* Functional Buttons (smaller and proportional) -MicromeX */
#MobileUI .FButton {
	position: absolute;
	width: 7.5vmin;
	height: 7.5vmin;
	background: rgba(193, 193, 193, 0.33);
	border: 1px solid #666;
	border-radius: 50%;
	font-size: 3.75vmin;
	font-weight: bold;
	color: rgb(0, 0, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

/* Positioning Buttons Around Attack Button -MicromeX */
#MobileUI #f1Button {
	top: 97%;
	left: 35%;
	transform: translate(-50%, -50%);
}
#MobileUI #f2Button {
	top: 78%;
	left: 24%;
	transform: translate(-50%, -50%);
}
#MobileUI #f3Button {
	top: 56%;
	left: 24%;
	transform: translate(-50%, -50%);
}
#MobileUI #f4Button {
	top: 37%;
	left: 35%;
	transform: translate(-50%, -50%);
}
#MobileUI #f5Button {
	top: 30%;
	left: 57%;
	transform: translate(-50%, -50%);
}
#MobileUI #f6Button {
	top: 37%;
	left: 80%;
	transform: translate(-50%, -50%);
}
#MobileUI #f7Button {
	top: 7%;
	left: 35%;
	transform: translate(-50%, -50%);
}
#MobileUI #f8Button {
	top: 7%;
	left: 57%;
	transform: translate(-50%, -50%);
}
#MobileUI #f9Button {
	top: 7%;
	left: 80%;
	transform: translate(-50%, -50%);
}
/* Positioning Buttons Around Attack Button -MicromeX */
#MobileUI #n1Button {
	top: 97%;
	left: 35%;
	transform: translate(-50%, -50%);
}
#MobileUI #n2Button {
	top: 78%;
	left: 24%;
	transform: translate(-50%, -50%);
}
#MobileUI #n3Button {
	top: 56%;
	left: 24%;
	transform: translate(-50%, -50%);
}
#MobileUI #n4Button {
	top: 37%;
	left: 35%;
	transform: translate(-50%, -50%);
}
#MobileUI #n5Button {
	top: 30%;
	left: 57%;
	transform: translate(-50%, -50%);
}
#MobileUI #n6Button {
	top: 37%;
	left: 80%;
	transform: translate(-50%, -50%);
}
#MobileUI #n7Button {
	top: 7%;
	left: 35%;
	transform: translate(-50%, -50%);
}
#MobileUI #n8Button {
	top: 7%;
	left: 57%;
	transform: translate(-50%, -50%);
}
#MobileUI #n9Button {
	top: 7%;
	left: 80%;
	transform: translate(-50%, -50%);
}
/* Positioning Buttons Around Attack Button -MicromeX */
#MobileUI #qButton {
	top: 97%;
	left: 35%;
	transform: translate(-50%, -50%);
}
#MobileUI #wButton {
	top: 78%;
	left: 24%;
	transform: translate(-50%, -50%);
}
#MobileUI #eButton {
	top: 56%;
	left: 24%;
	transform: translate(-50%, -50%);
}
#MobileUI #rButton {
	top: 37%;
	left: 35%;
	transform: translate(-50%, -50%);
}
#MobileUI #tButton {
	top: 30%;
	left: 57%;
	transform: translate(-50%, -50%);
}
#MobileUI #yButton {
	top: 37%;
	left: 80%;
	transform: translate(-50%, -50%);
}
#MobileUI #uButton {
	top: 7%;
	left: 35%;
	transform: translate(-50%, -50%);
}
#MobileUI #iButton {
	top: 7%;
	left: 57%;
	transform: translate(-50%, -50%);
}
#MobileUI #oButton {
	top: 7%;
	left: 80%;
	transform: translate(-50%, -50%);
}
/* Positioning Buttons Around Attack Button -MicromeX */
#MobileUI #aButton {
	top: 97%;
	left: 35%;
	transform: translate(-50%, -50%);
}
#MobileUI #sButton {
	top: 78%;
	left: 24%;
	transform: translate(-50%, -50%);
}
#MobileUI #dButton {
	top: 56%;
	left: 24%;
	transform: translate(-50%, -50%);
}
#MobileUI #fButton {
	top: 37%;
	left: 35%;
	transform: translate(-50%, -50%);
}
#MobileUI #gButton {
	top: 30%;
	left: 57%;
	transform: translate(-50%, -50%);
}
#MobileUI #hButton {
	top: 37%;
	left: 80%;
	transform: translate(-50%, -50%);
}
#MobileUI #jButton {
	top: 7%;
	left: 35%;
	transform: translate(-50%, -50%);
}
#MobileUI #kButton {
	top: 7%;
	left: 57%;
	transform: translate(-50%, -50%);
}
#MobileUI #lButton {
	top: 7%;
	left: 80%;
	transform: translate(-50%, -50%);
}
/* Pickup Button (slightly below attackButton) -MicromeX */
#MobileUI #attackButton {
	bottom: -10%;
	left: 60%;
	transform: translate(-50%, 0);
}
/* Pickup Button (slightly below attackButton) -MicromeX */
#MobileUI #pickupButton {
	bottom: 10%;
	left: 105%;
	transform: translate(-50%, 0);
}

/* TalkToNpc Button (slightly below attackButton) -MicromeX */
#MobileUI #talktonpcButton {
	bottom: -23%;
	left: 105%;
	transform: translate(-50%, 0);
}
/* TalkToNpc Button (slightly below attackButton) -MicromeX */
#MobileUI #switchshorcutButton {
	bottom: 43%;
	left: 105%;
	transform: translate(-50%, 0);
}

/* Hover Effect for Buttons -MicromeX */
#MobileUI #f1Button:active,
#MobileUI #f2Button:active,
#MobileUI #f3Button:active,
#MobileUI #f4Button:active,
#MobileUI #f5Button:active,
#MobileUI #f6Button:active,
#MobileUI #f7Button:active,
#MobileUI #f8Button:active,
#MobileUI #f9Button:active,
#MobileUI #n1Button:active,
#MobileUI #n2Button:active,
#MobileUI #n3Button:active,
#MobileUI #n4Button:active,
#MobileUI #n5Button:active,
#MobileUI #n6Button:active,
#MobileUI #n7Button:active,
#MobileUI #n8Button:active,
#MobileUI #n9Button:active,
#MobileUI #qButton:active,
#MobileUI #wButton:active,
#MobileUI #eButton:active,
#MobileUI #rButton:active,
#MobileUI #tButton:active,
#MobileUI #yButton:active,
#MobileUI #uButton:active,
#MobileUI #iButton:active,
#MobileUI #oButton:active,
#MobileUI #aButton:active,
#MobileUI #sButton:active,
#MobileUI #dButton:active,
#MobileUI #fButton:active,
#MobileUI #gButton:active,
#MobileUI #hButton:active,
#MobileUI #jButton:active,
#MobileUI #kButton:active,
#MobileUI #lButton:active,
#MobileUI #switchshorcutButton:active,
#MobileUI #pickupButton:active {
	background: linear-gradient(135deg, rgba(144, 238, 144, 0.5), rgba(193, 255, 193, 0.8));
	border: 2px solid rgba(144, 238, 144, 0.8);
	box-shadow: 0px 4px 8px rgba(144, 238, 144, 0.4);
	border-radius: 50%;
	animation: pulse 1.5s infinite;
	transition:
		background 0.3s ease,
		box-shadow 0.3s ease,
		transform 0.3s ease;
}

#MobileUI #talktonpcButton:active {
	background: linear-gradient(135deg, rgba(144, 238, 144, 0.5), rgba(193, 255, 193, 0.8));
	border: 2px solid rgba(144, 238, 144, 0.8);
	box-shadow: 0px 4px 8px rgba(144, 238, 144, 0.4);
	border-radius: 50%;
	animation: pulse 1.5s infinite;
	transition:
		background 0.3s ease,
		box-shadow 0.3s ease,
		transform 0.3s ease;
}

#MobileUI #attackButton:active {
	background-color: #4caf50;
	box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.4);
	border: 2px solid #388e3c;
	transition:
		transform 0.2s ease,
		background-color 0.2s ease,
		box-shadow 0.2s ease,
		border 0.2s ease;
}

/* Joystick container -MicromeX */
#MobileUI .joystick-container {
	position: absolute;
	bottom: 7%;
	left: 10%;
	width: 25vmin;
	height: 25vmin;
	z-index: 1000;
}

/* Joystick base -MicromeX */
#MobileUI .joystick-base {
	position: relative;
	width: 100%;
	height: 100%;
	background: rgba(193, 193, 193, 0.33);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Joystick thumb -MicromeX */
#MobileUI .joystick-thumb {
	position: absolute;
	width: 10vmin;
	height: 10vmin;
	background: radial-gradient(circle, rgba(236, 240, 241, 1) 70%, rgba(189, 195, 199, 1) 100%);
	border-radius: 50%;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
	touch-action: none;
	cursor: grab;
}
