<div id="MobileUI">
	<button id="toggleUIButton" class="buttons">🛠️</button>

	<div id="topBar" class="buttonBar disabled">
		<button id="fullscreenButton" class="buttons mobileKeys secondary horizontal">⛶</button>
	</div>

	<!-- Joystick -MicromeX -->
	<div id="joystickContainer" class="joystick-container disabled">
		<div id="joystickBase" class="joystick-base">
			<div id="joystickThumb" class="joystick-thumb"></div>
		</div>
	</div>

	<!-- Functional Buttons -MicromeX -->
	<div id="buttonContainer" class="buttonContainer disabled">
		<!-- Functional Buttons -->
		<button id="f1Button" class="FButton mobileKeys vertical secondary disabled">F1</button>
		<button id="f2Button" class="FButton mobileKeys vertical secondary disabled">F2</button>
		<button id="f3Button" class="FButton mobileKeys vertical secondary disabled">F3</button>
		<button id="f4Button" class="FButton mobileKeys vertical secondary disabled">F4</button>
		<button id="f5Button" class="FButton mobileKeys vertical secondary disabled">F5</button>
		<button id="f6Button" class="FButton mobileKeys vertical secondary disabled">F6</button>
		<button id="f7Button" class="FButton mobileKeys vertical secondary disabled">F7</button>
		<button id="f8Button" class="FButton mobileKeys vertical secondary disabled">F8</button>
		<button id="f9Button" class="FButton mobileKeys vertical secondary disabled">F9</button>

		<button id="n1Button" class="FButton mobileKeys vertical secondary disabled">1</button>
		<button id="n2Button" class="FButton mobileKeys vertical secondary disabled">2</button>
		<button id="n3Button" class="FButton mobileKeys vertical secondary disabled">3</button>
		<button id="n4Button" class="FButton mobileKeys vertical secondary disabled">4</button>
		<button id="n5Button" class="FButton mobileKeys vertical secondary disabled">5</button>
		<button id="n6Button" class="FButton mobileKeys vertical secondary disabled">6</button>
		<button id="n7Button" class="FButton mobileKeys vertical secondary disabled">7</button>
		<button id="n8Button" class="FButton mobileKeys vertical secondary disabled">8</button>
		<button id="n9Button" class="FButton mobileKeys vertical secondary disabled">9</button>

		<button id="qButton" class="FButton mobileKeys vertical secondary disabled">Q</button>
		<button id="wButton" class="FButton mobileKeys vertical secondary disabled">W</button>
		<button id="eButton" class="FButton mobileKeys vertical secondary disabled">E</button>
		<button id="rButton" class="FButton mobileKeys vertical secondary disabled">R</button>
		<button id="tButton" class="FButton mobileKeys vertical secondary disabled">T</button>
		<button id="yButton" class="FButton mobileKeys vertical secondary disabled">Y</button>
		<button id="uButton" class="FButton mobileKeys vertical secondary disabled">U</button>
		<button id="iButton" class="FButton mobileKeys vertical secondary disabled">I</button>
		<button id="oButton" class="FButton mobileKeys vertical secondary disabled">O</button>

		<button id="aButton" class="FButton mobileKeys vertical secondary disabled">A</button>
		<button id="sButton" class="FButton mobileKeys vertical secondary disabled">S</button>
		<button id="dButton" class="FButton mobileKeys vertical secondary disabled">D</button>
		<button id="fButton" class="FButton mobileKeys vertical secondary disabled">F</button>
		<button id="gButton" class="FButton mobileKeys vertical secondary disabled">G</button>
		<button id="hButton" class="FButton mobileKeys vertical secondary disabled">H</button>
		<button id="jButton" class="FButton mobileKeys vertical secondary disabled">J</button>
		<button id="kButton" class="FButton mobileKeys vertical secondary disabled">K</button>
		<button id="lButton" class="FButton mobileKeys vertical secondary disabled">L</button>

		<button id="pickupButton" class="pickupButton mobileKeys vertical secondary disabled">🖐</button>
		<!-- Pick Up Button -MicromeX -->
		<button id="talktonpcButton" class="talktonpcButton mobileKeys vertical secondary disabled">💬</button>
		<!-- Talk to NPC Button -MicromeX -->
		<button id="switchshorcutButton" class="switchshorcutButton mobileKeys vertical secondary disabled">🔄</button>
		<!-- Auto Skill Button -MicromeX -->

		<!-- Attack Button -MicromeX -->
		<button id="attackButton" class="atkButton mobileKeys vertical secondary disabled">⚔️</button>
	</div>

	<div id="leftBar" class="buttonBar disabled">
		<button id="f10Button" class="buttons mobileKeys secondary vertical">F10</button><br />
		<button id="f12Button" class="buttons mobileKeys secondary vertical">F12</button><br />
		<button id="insButton" class="buttons mobileKeys secondary vertical">🧎</button><br />
	</div>

	<div id="rightBar" class="buttonBar disabled">
		<button id="toggleStatusButton" class="buttons mobileKeys secondary vertical">👀</button><br />
		<button id="toggleTargetingButton" class="buttons mobileKeys secondary vertical">⚙️</button><br />
		<button id="toggleAutoFollowButton" class="buttons mobileKeys vertical secondary disabled">👥</button><br />
		<button id="toggleAutoTargetButton" class="buttons mobileKeys vertical secondary disabled">🎯</button><br />
	</div>
</div>
