<div id="WinStats">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<button
				class="base"
				data-background="basic_interface/sys_base_off.bmp"
				data-hover="basic_interface/sys_base_on.bmp"
			></button>
			<span class="text" data-text="105">Status</span>
		</div>
		<div class="right">
			<button
				class="base mini"
				data-background="basic_interface/sys_mini_off.bmp"
				data-hover="basic_interface/sys_mini_on.bmp"
			></button>
			<button
				class="base close"
				data-background="basic_interface/sys_close_off.bmp"
				data-hover="basic_interface/sys_close_on.bmp"
			></button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="panel" data-background="basic_interface/statwin0_bg.bmp">
		<div class="group stats">
			<div class="str">1</div>
			<div class="agi">1</div>
			<div class="vit">1</div>
			<div class="int">1</div>
			<div class="dex">1</div>
			<div class="luk">1</div>
		</div>
		<div class="group bonus">
			<div class="str"></div>
			<div class="agi"></div>
			<div class="vit"></div>
			<div class="int"></div>
			<div class="dex"></div>
			<div class="luk"></div>
		</div>
		<div class="group up">
			<button
				class="str"
				data-background="basic_interface/arw_right.bmp"
				data-down="basic_interface/arw_right_on.bmp"
			></button>
			<button
				class="agi"
				data-background="basic_interface/arw_right.bmp"
				data-down="basic_interface/arw_right_on.bmp"
			></button>
			<button
				class="vit"
				data-background="basic_interface/arw_right.bmp"
				data-down="basic_interface/arw_right_on.bmp"
			></button>
			<button
				class="int"
				data-background="basic_interface/arw_right.bmp"
				data-down="basic_interface/arw_right_on.bmp"
			></button>
			<button
				class="dex"
				data-background="basic_interface/arw_right.bmp"
				data-down="basic_interface/arw_right_on.bmp"
			></button>
			<button
				class="luk"
				data-background="basic_interface/arw_right.bmp"
				data-down="basic_interface/arw_right_on.bmp"
			></button>
		</div>
		<div class="group requirements">
			<div class="str">2</div>
			<div class="agi">2</div>
			<div class="vit">2</div>
			<div class="int">2</div>
			<div class="dex">2</div>
			<div class="luk">2</div>
		</div>
		<div class="group column1">
			<div><span class="atak">0</span> <span class="atak2">+ 0</span></div>
			<div><span class="matak">0</span> <span class="matak2">+ 0</span></div>
			<div class="hit">200</div>
			<div class="critical">0</div>
		</div>
		<div class="group column2">
			<div><span class="def">0</span> <span class="def2">+ 0</span></div>
			<div><span class="mdef">0</span> <span class="mdef2">+ 0</span></div>
			<div><span class="flee">0</span> <span class="flee2">+ 0</span></div>
			<div class="aspd">160</div>
			<div class="statuspoint">0</div>
			<div class="guildname"></div>
		</div>
	</div>
</div>
