<div id="PartyMemberExternal">
	<ui-image src="renewalparty/img_partymini_bg.tga"></ui-image>
	<ui-button
		class="close"
		bg="renewalparty/btn_titlebar_maximum_out.bmp"
		hover="renewalparty/btn_titlebar_maximum_over.bmp"
		down="renewalparty/btn_titlebar_maximum_press.bmp"
	></ui-button>
	<div class="job-icon-container">
		<div class="job-icon"></div>
		<div class="crown"></div>
	</div>
	<div class="info-container">
		<div class="row1">
			<span class="level"></span>
			<span class="name"></span>
			<span class="map"></span>
		</div>
		<div class="row2">
			<div class="hp-bar-container">
				<canvas class="life" width="75" height="5"></canvas>
			</div>
			<span class="hp-text"></span>
			<div class="status-icon"></div>
		</div>
	</div>
</div>
