<div id="CharSelectV4">
	<div class="char_select_container">
		<!--Cancel Button-->
		<ui-button
			class="btn cancel"
			bg="select_character_ver3/bt_close2_normal.bmp"
			hover="select_character_ver3/bt_close2_over.bmp"
			down="select_character_ver3/bt_close2_press.bmp"
		></ui-button>
		<!-- BOX -->
		<div class="char_list">
			<div class="char_canvas">
				<canvas id="slot0" width="157" height="195"></canvas>
				<div class="name"></div>
				<div class="job_icon"></div>
				<div class="timedelete slot0 hidden"></div>
			</div>

			<div class="char_canvas">
				<canvas id="slot1" width="157" height="195"></canvas>
				<div class="name"></div>
				<div class="job_icon"></div>
				<div class="timedelete slot1 hidden"></div>
			</div>

			<div class="char_canvas">
				<canvas id="slot2" width="157" height="195"></canvas>
				<div class="name"></div>
				<div class="job_icon"></div>
				<div class="timedelete slot2 hidden"></div>
			</div>

			<div class="char_canvas">
				<canvas id="slot3" width="157" height="195"></canvas>
				<div class="name"></div>
				<div class="job_icon"></div>
				<div class="timedelete slot3 hidden"></div>
			</div>

			<div class="char_canvas">
				<canvas id="slot4" width="157" height="195"></canvas>
				<div class="name"></div>
				<div class="job_icon"></div>
				<div class="timedelete slot4 hidden"></div>
			</div>

			<div class="char_canvas">
				<canvas id="slot5" width="157" height="195"></canvas>
				<div class="name"></div>
				<div class="job_icon"></div>
				<div class="timedelete slot5 hidden"></div>
			</div>

			<div class="char_canvas">
				<canvas id="slot6" width="157" height="195"></canvas>
				<div class="name"></div>
				<div class="job_icon"></div>
				<div class="timedelete slot6 hidden"></div>
			</div>

			<div class="char_canvas">
				<canvas id="slot7" width="157" height="195"></canvas>
				<div class="name"></div>
				<div class="job_icon"></div>
				<div class="timedelete slot7 hidden"></div>
			</div>

			<div class="char_canvas">
				<canvas id="slot8" width="157" height="195"></canvas>
				<div class="name"></div>
				<div class="job_icon"></div>
				<div class="timedelete slot8 hidden"></div>
			</div>

			<div class="char_canvas">
				<canvas id="slot9" width="157" height="195"></canvas>
				<div class="name"></div>
				<div class="job_icon"></div>
				<div class="timedelete slot9 hidden"></div>
			</div>

			<div class="char_canvas">
				<canvas id="slot10" width="157" height="195"></canvas>
				<div class="name"></div>
				<div class="job_icon"></div>
				<div class="timedelete slot10 hidden"></div>
			</div>

			<div class="char_canvas">
				<canvas id="slot11" width="157" height="195"></canvas>
				<div class="name"></div>
				<div class="job_icon"></div>
				<div class="timedelete slot11 hidden"></div>
			</div>

			<div class="char_canvas">
				<canvas id="slot12" width="157" height="195"></canvas>
				<div class="name"></div>
				<div class="job_icon"></div>
				<div class="timedelete slot12 hidden"></div>
			</div>

			<div class="char_canvas">
				<canvas id="slot13" width="157" height="195"></canvas>
				<div class="name"></div>
				<div class="job_icon"></div>
				<div class="timedelete slot13 hidden"></div>
			</div>

			<div class="char_canvas">
				<canvas id="slot14" width="157" height="195"></canvas>
				<div class="name"></div>
				<div class="job_icon"></div>
				<div class="timedelete slot14 hidden"></div>
			</div>
		</div>

		<!-- Characters infos -->
		<div class="charinfo">
			<div class="job"></div>
			<div class="lvl"></div>
			<div class="exp"></div>
			<div class="hp"></div>
			<div class="sp"></div>
			<div class="map"></div>
			<div class="str"></div>
			<div class="agi"></div>
			<div class="vit"></div>
			<div class="int"></div>
			<div class="dex"></div>
			<div class="luk"></div>
			<ui-button
				class="btn delete"
				bg="select_character_ver3/bt_info_normal.bmp"
				hover="select_character_ver3/bt_info_over.bmp"
				down="select_character_ver3/bt_info_press.bmp"
			>
				<ui-text msg="3339"></ui-text>
			</ui-button>
			<ui-button
				class="btn canceldelete"
				bg="select_character_ver3/bt_info_normal.bmp"
				hover="select_character_ver3/bt_info_over.bmp"
				down="select_character_ver3/bt_info_press.bmp"
			>
				<ui-text msg="3340"></ui-text>
			</ui-button>
			<ui-button
				class="btn finaldelete"
				bg="select_character_ver3/bt_info_normal.bmp"
				hover="select_character_ver3/bt_info_over.bmp"
				down="select_character_ver3/bt_info_press.bmp"
			>
				<ui-text msg="3342"></ui-text>
			</ui-button>
			<ui-button
				class="btn ok"
				bg="select_character_ver3/bt_gamestart_off.bmp"
				hover="select_character_ver3/bt_gamestart_over.bmp"
				down="select_character_ver3/bt_gamestart_press.bmp"
			>
				<ui-text msg="3341"></ui-text>
			</ui-button>
			<!-- Pages infos -->
			<div class="pageinfo"><span class="current">1</span> / <span class="count">9</span></div>
		</div>
	</div>
</div>
