*        text=auto
*.cpp diff=cpp
*.yml diff text eol=lf
*.sln    merge=union
*.vcproj merge=union
*.vcxproj merge=union
*.sln text eol=crlf
*.bat text eol=crlf
athena-start text eol=lf
configure text eol=lf
configure.in text eol=lf
Makefile text eol=lf
Makefile.in text eol=lf
*.sh text eol=lf
*.sql text eol=lf
