*            text=auto
*.c          diff=cpp eol=crlf
*.h          diff=cpp eol=crlf
*.sln        merge=union
*.vcproj     merge=union
*.vcxproj    merge=union
*.sln text   eol=crlf
*.bat text   eol=crlf
configure    text eol=lf
configure.in text eol=lf
Makefile     text eol=lf
Makefile.in  text eol=lf
*.sh         text eol=lf
*.sql        text eol=crlf
