# SVN -> git mailmap

<kisuka@kisuka.com> <Kisuka@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<euphy.raliel@rathena.org> <euphyy@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<euphy.raliel@rathena.org> <Euph@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<lemongrass@kstp.at> <lemongrass3110@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<trojal@gmail.com> <trojal@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<joseph.tk.ea@gmail.com> <j-tkay@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<ind@henn.et> <shennetsind@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<Kenpachi.Developer@gmx.de> <kenpachi2k11@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<umage@netvor.sk> <ultramage@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<ai4rei@users.noreply.github.com> <ai4rei@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<Kenji.Ito@gmx.de> <Playtester@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<masao@gmx.ch> <masao87@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<piotr.halaczkiewicz@gmail.com> <gepard1984@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<piotr.halaczkiewicz@gmail.com> <Gepard@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<missxantara@gmail.com> <xantara@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<lightaisme@gmail.com> <glighta@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<brianluau@users.noreply.github.com> <brianluau@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<harrison@isabarwon.com> <calciumkid@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<fw@f-ws.de> <blacksirius@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<fw@f-ws.de> <sirius@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<jmish1987@gmail.com> <jmanfffreak@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<paradox924x@gmail.com> <Paradox924x@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<paradox924x@gmail.com> <Paradox924X@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<yomanda@gmail.com> <Yommy@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<masterofmuppets89@gmail.com> <MasterOfMuppets@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<flaviojs2005@gmail.com> <flaviojs@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<flaviojs2005@gmail.com> <FlavioJS@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<flaviojs2005@gmail.com> <flaviojs2005@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<tagraskemper@hotmail.com> <akinari1087@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<sketchyphoenix@gmail.com> <sketchyphoenix@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<sketchyphoenix@gmail.com> <SketchyPhoenix@54d463be-8e91-2dee-dedb-b68131a5f0ec>

# aliases

<haru@dotalux.com> <haru@originsro.org>
<ind@henn.et> <int@henn.et>
<ind@henn.et> <notind@gmail.com>
<ind@henn.et> <shennetsind@users.noreply.github.com>
<dastgirp@gmail.com> <dastgir@users.noreply.github.com>
<dastgirp@gmail.com> <dastgirpojee@rocketmail.com>
<michieru-kun@hotmail.com> <Michieru@users.noreply.github.com>
<michieru-kun@hotmail.com> <michieru@0-mail.com>
<jedzkie13@rocketmail.com> <Jedzkie@users.noreply.github.com>
<jedzkie13@rocketmail.com> <eikzdej@gmail.com>
<jedzkie13@rocketmail.com> <jedzkie999@gmail.com>
<Equinox1991@gmail.com> <Emistry@users.noreply.github.com>
<gauvain.dauchy@free.fr> <alige@users.noreply.github.com>
<guilherme.menaldo@outlook.com> <guilherme-gm@users.noreply.github.com>
<dev@herc.ws> <Hercules@efficiently.awesome>
<streusel@gravity.co.kr> <advance_me@hotmail.de>
<streusel@gravity.co.kr> <m.me1@live.de>
<ibrahem.h.basyone@gmail.com> <hemagx2@gmail.com>
<Asheraf@users.noreply.github.com> <acheraf1998@gmail.com>
<sagunkho@hotmail.com> <sagunxp@gmail.com>
<akkarin@rathena.org> <mike.langford@live.co.uk>
<lightaisme@gmail.com> <lighta@lighta-fedora20.localdomain>
<lightaisme@gmail.com> <lighta@lighta-VPCW12M1E>
<lightaisme@gmail.com> <lighta@lighta-VPCW12M1E.(none)>
<lightaisme@gmail.com> <lighta@users.noreply.github.com>
<cutepeipei@hotmail.com.tw> <QQfoolsorellina@hotmail.com>
<nightsheep@outlook.com> <foreverfk@stephack.com>
<jey@bjx-studios.de> <jey@toto-ro.de>
<euphy.raliel@rathena.org> <euphy@rathena.org>
<Stolao@users.noreply.github.com> <Taingram11@gmail.com>
<zackdreaver@users.noreply.github.com> <zackdreaver@gmail.com>