image: Visual Studio 2013
# This is the default location, but we put it here for safety reasons, since we use it in our test script
clone_folder: c:\projects\rathena
# We do not need the git history for our integration tests
clone_depth: 50
version: '{branch}-{build}'
pull_requests:
  do_not_increment_build_number: true
environment:
  matrix:
  - VisualStudioVersion: 14.0
    Defines: "\"BUILDBOT\""
  - VisualStudioVersion: 14.0
    Defines: "\"BUILDBOT;PRERE\""
platform:
  - Win32
  - x64
configuration:
  - Debug
# Disable Release for now, since do not want to have any optimization and have access to debug infos on crash
#  - Release
matrix:
  fast_finish: true
build_script:
- cmd: msbuild rAthena.sln /p:DefineConstants=%Defines%
services: mysql
test_script:
- cmd: >-
    rem Set up the environment variables we need
    
    set DB_HOST=127.0.0.1
    
    set DB_ROOT=root
    
    set DB_ROOTPW=Password12!
    
    set DB_USER=ragnarok
    
    set DB_USERPW=ragnarok
    
    set DB_NAME=ragnarok
    
    set MYSQL="C:\Program Files\MySql\MySQL Server 5.7\bin\mysql.exe"
    
    cd C:\projects\rathena
    
    rem TODO should be replace with tools\ci\sql.bat as soon as possible
    rem MySQL database setup
    
    %MYSQL% -u %DB_ROOT% -p%DB_ROOTPW% -e "CREATE DATABASE %DB_NAME%;"
    
    %MYSQL% -u %DB_ROOT% -p%DB_ROOTPW% %DB_NAME% -e "source sql-files\main.sql"
    
    %MYSQL% -u %DB_ROOT% -p%DB_ROOTPW% %DB_NAME% -e "source sql-files\logs.sql"
    
    %MYSQL% -u %DB_ROOT% -p%DB_ROOTPW% %DB_NAME% -e "source sql-files\item_cash_db.sql"
    
    %MYSQL% -u %DB_ROOT% -p%DB_ROOTPW% %DB_NAME% -e "source sql-files\item_cash_db2.sql"
    
    %MYSQL% -u %DB_ROOT% -p%DB_ROOTPW% %DB_NAME% -e "source sql-files\item_db.sql"
    
    %MYSQL% -u %DB_ROOT% -p%DB_ROOTPW% %DB_NAME% -e "source sql-files\item_db2.sql"
    
    %MYSQL% -u %DB_ROOT% -p%DB_ROOTPW% %DB_NAME% -e "source sql-files\item_db_re.sql"
    
    %MYSQL% -u %DB_ROOT% -p%DB_ROOTPW% %DB_NAME% -e "source sql-files\item_db2_re.sql"
    
    %MYSQL% -u %DB_ROOT% -p%DB_ROOTPW% %DB_NAME% -e "source sql-files\mob_db.sql"
    
    %MYSQL% -u %DB_ROOT% -p%DB_ROOTPW% %DB_NAME% -e "source sql-files\mob_db2.sql"
    
    %MYSQL% -u %DB_ROOT% -p%DB_ROOTPW% %DB_NAME% -e "source sql-files\mob_db_re.sql"
    
    %MYSQL% -u %DB_ROOT% -p%DB_ROOTPW% %DB_NAME% -e "source sql-files\mob_db2_re.sql"
    
    %MYSQL% -u %DB_ROOT% -p%DB_ROOTPW% %DB_NAME% -e "source sql-files\mob_skill_db.sql"
    
    %MYSQL% -u %DB_ROOT% -p%DB_ROOTPW% %DB_NAME% -e "source sql-files\mob_skill_db2.sql"
    
    %MYSQL% -u %DB_ROOT% -p%DB_ROOTPW% %DB_NAME% -e "source sql-files\mob_skill_db_re.sql"
    
    %MYSQL% -u %DB_ROOT% -p%DB_ROOTPW% %DB_NAME% -e "source sql-files\mob_skill_db2_re.sql"
    
    %MYSQL% -u %DB_ROOT% -p%DB_ROOTPW% %DB_NAME% -e "source sql-files\roulette_default_data.sql"
    
    %MYSQL% -u %DB_ROOT% -p%DB_ROOTPW% -e "GRANT SELECT,INSERT,UPDATE,DELETE ON %DB_NAME%.* TO '%DB_USER%'@'%DB_HOST%' IDENTIFIED BY '%DB_USERPW%';"
    
    rem Activate all custom and test scripts
    
    start /d tools\ci npc.bat
    
    rem Start the map server
    
    login-server.exe --run-once
    
    char-server.exe --run-once
    
    map-server.exe --run-once
