<div id="StorageFilter">
	<div class="titlebar">
		<ui-image src="basic_interface/titlebar_mid.bmp"></ui-image>
		<div class="left">
			<span class="text">Item Filter</span>
		</div>
		<div class="right">
			<ui-button
				class="base close"
				bg="basic_interface/sys_close_off.bmp"
				hover="basic_interface/sys_close_on.bmp"
			></ui-button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="overlay"></div>

	<div class="panel">
		<div class="content" data-background="basic_interface/itemwin_mid.bmp"></div>
	</div>

	<div class="footer" data-background="basic_interface/btnbar_mid2.bmp">
		<button class="extend" data-background="btn_resize.bmp"></button>
	</div>
</div>
