<div
	id="BasicInfoV0"
	class="large"
	data-background="basic_interface/basewin_bg.bmp"
	data-mini-background="basic_interface/basewin_mini.bmp"
	data-preload="basic_interface/gzered_left.bmp;basic_interface/gzered_mid.bmp;basic_interface/gzered_right.bmp;basic_interface/gzeblue_left.bmp;basic_interface/gzeblue_mid.bmp;basic_interface/gzeblue_right.bmp"
>
	<div class="topbar">
		<button
			class="left"
			data-background="basic_interface/sys_base_off.bmp"
			data-hover="basic_interface/sys_base_on.bmp"
		></button>
		<button
			class="right"
			data-background="basic_interface/sys_mini_off.bmp"
			data-hover="basic_interface/sys_mini_on.bmp"
		></button>
	</div>

	<!-- LARGE INTERFACE -->
	<div class="large">
		<div class="title" data-text="238">Basic Info</div>
		<div class="name"><span class="name_value"></span></div>
		<div class="job"><span class="job_value"></span></div>

		<div class="hp_title">HP</div>
		<div class="hp_bar">
			<div class="hp_bar_left"></div>
			<div class="hp_bar_middle"></div>
			<div class="hp_bar_right"></div>
			<div class="hp_bar_perc"><span class="hp_value"></span> / <span class="hp_max_value"></span></div>
		</div>

		<div class="sp_title">SP</div>
		<div class="sp_bar">
			<div class="sp_bar_left"></div>
			<div class="sp_bar_middle"></div>
			<div class="sp_bar_right"></div>
			<div class="sp_bar_perc"><span class="sp_value"></span> / <span class="sp_max_value"></span></div>
		</div>

		<div class="blvl">Base Lv. <span class="blvl_value"></span></div>
		<div class="bexp">
			<div></div>
		</div>

		<div class="jlvl">Job Lv. <span class="jlvl_value"></span></div>
		<div class="jexp">
			<div></div>
		</div>

		<div class="extra">
			<span class="weight"
				>Weight : <span class="weight_value">0</span> / <span class="weight_total">0</span></span
			>
			Zeny : <span class="zeny_value">0</span>
		</div>
	</div>

	<!-- SMALL INTERFACE -->
	<div class="small">
		<div class="line1 name_value"></div>
		<div class="line2">
			Lv.<span class="blvl_value"></span> / <span class="job_value"></span> / Lv.<span class="jlvl_value"></span>
			/ Exp. <span class="bexp_value"></span>
		</div>
		<div class="line3">
			HP. <span class="hp_value"></span> / <span class="hp_max_value"></span> | SP.
			<span class="sp_value"></span> / <span class="sp_max_value"></span>
		</div>
	</div>

	<!-- BUTTONS -->
	<div class="buttons">
		<button
			class="option"
			data-background="basic_interface/btn_option_off.bmp"
			data-hover="basic_interface/btn_option_on.bmp"
			data-down="basic_interface/btn_option_on.bmp"
		></button>
		<button
			class="info"
			data-background="basic_interface/btn_status_off.bmp"
			data-hover="basic_interface/btn_status_on.bmp"
			data-down="basic_interface/btn_status_on.bmp"
		></button>
		<button
			class="equip"
			data-background="basic_interface/btn_equip_off.bmp"
			data-hover="basic_interface/btn_equip_on.bmp"
			data-down="basic_interface/btn_equip_on.bmp"
		></button>
		<button
			class="item"
			data-background="basic_interface/btn_items_off.bmp"
			data-hover="basic_interface/btn_items_on.bmp"
			data-down="basic_interface/btn_items_on.bmp"
		></button>
		<button
			class="map"
			data-background="basic_interface/btn_map_off.bmp"
			data-hover="basic_interface/btn_map_on.bmp"
			data-down="basic_interface/btn_map_on.bmp"
		></button>
		<button
			class="skill"
			data-background="basic_interface/btn_skill_off.bmp"
			data-hover="basic_interface/btn_skill_on.bmp"
			data-down="basic_interface/btn_skill_on.bmp"
		></button>
		<button
			class="party"
			data-background="basic_interface/btn_friend_off.bmp"
			data-hover="basic_interface/btn_friend_on.bmp"
			data-down="basic_interface/btn_friend_on.bmp"
		></button>
		<button
			class="chat"
			data-background="basic_interface/btn_dialog_off.bmp"
			data-hover="basic_interface/btn_dialog_on.bmp"
			data-down="basic_interface/btn_dialog_on.bmp"
		></button>
		<div class="clear"></div>
	</div>
</div>
