<div id="EquipmentV4" data-repload="basic_interface/item_invert.bmp">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<button
				class="base"
				data-background="basic_interface/sys_base_off.bmp"
				data-hover="basic_interface/sys_base_on.bmp"
			></button>
			<span class="text" data-text="104">Equipment</span>
		</div>
		<div class="right">
			<button
				class="base mini"
				data-background="basic_interface/sys_mini_off.bmp"
				data-hover="basic_interface/sys_mini_on.bmp"
			></button>
			<button
				class="base close"
				data-background="basic_interface/sys_close_off.bmp"
				data-hover="basic_interface/sys_close_on.bmp"
			></button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="overlay"></div>
	<div class="tab-manager" id="tabs">
		<div class="tab">
			<a href="#general"><span data-text="3158">General</span></a>
		</div>
		<div class="tab">
			<a href="#costume"><span data-text="3159">Costume</span></a>
		</div>
		<div class="tab">
			<a href="#title"><span data-text="3160">Title</span></a>
		</div>
		<div class="tab">
			<a href="#damageskin"><span data-text="3990">Damage Font</span></a>
		</div>
	</div>
	<div class="panel">
		<table class="content" id="general" data-background="basic_interface/equipwin_bg.bmp">
			<tr>
				<td class="head_top col1"></td>
				<td rowspan="6">
					<!-- avoid applying css on td directly-->
					<div class="col2 ammo_container">
						<div class="ammo"></div>
						<button
							class="cartitems"
							data-background="basic_interface/btn_items_off.bmp"
							data-hover="basic_interface/btn_items_on.bmp"
						></button>
						<button class="removeOption" data-background="basic_interface/btn_off.bmp"></button>
						<canvas width="55" height="125"></canvas>
					</div>
				</td>
				<td class="head_mid col3"></td>
			</tr>
			<tr>
				<td class="head_bottom col1"></td>
				<td class="armor col3"></td>
			</tr>
			<tr>
				<td class="weapon col1"></td>
				<td class="shield col3"></td>
			</tr>
			<tr>
				<td class="garment col1"></td>
				<td class="shoes col3"></td>
			</tr>
			<tr>
				<td class="accessory1 col1"></td>
				<td class="accessory2 col3"></td>
			</tr>
		</table>
		<table class="content" id="costume" data-background="basic_interface/equipwin_special.bmp">
			<tr>
				<td class="costume_head_top col1"></td>
				<td rowspan="6">
					<!-- avoid applying css on td directly-->
					<div class="col2 ammo_container">
						<canvas width="55" height="125"></canvas>
					</div>
				</td>
				<td class="costume_head_mid col3"></td>
			</tr>
			<tr>
				<td class="costume_head_bottom col1"></td>
				<td class="shadow_armor col3"></td>
			</tr>
			<tr>
				<td class="shadow_weapon col1"></td>
				<td class="shadow_shield col3"></td>
			</tr>
			<tr>
				<td class="shadow_garment col1"></td>
				<td class="shadow_shoes col3"></td>
			</tr>
			<tr>
				<td class="shadow_accessory1 col1"></td>
				<td class="shadow_accessory2 col3"></td>
			</tr>
		</table>
		<table class="content" id="title">
			<tr>
				<td colspan="3">
					<div class="title-list" id="title_list"></div>
				</td>
			</tr>
		</table>
		<table class="content" id="damageskin">
			<!-- Select Damage Font -->
			<tr>
				<td colspan="3">
					<div class="damageskin-selector" data-background="showdamage/bg_damage.bmp">
						<div class="skin-wrapper">
							<div>
								<button
									class="checkbox motion-check"
									data-motion="0"
									data-background="checkbox_0.bmp"
								></button>
								<span data-text="3994">Default</span>
							</div>
							<!-- Damage Skin 0: Default -->
							<button class="skin-option" data-skin="0">
								<span>Default</span>
								<div class="icon" data-background="showdamage/icon_damage00.bmp"></div>
							</button>
						</div>
						<div class="skin-wrapper">
							<div>
								<button
									class="checkbox motion-check"
									data-motion="1"
									data-background="checkbox_0.bmp"
								></button>
								<span data-text="3993">Left</span>
							</div>
							<!-- Damage Skin 1: Color -->
							<button class="skin-option" data-skin="1">
								<span>Color</span>
								<div class="icon" data-background="showdamage/icon_damage01.bmp"></div>
							</button>
						</div>
						<div class="skin-wrapper">
							<div>
								<button
									class="checkbox motion-check"
									data-motion="2"
									data-background="checkbox_0.bmp"
								></button>
								<span data-text="3992">Top</span>
							</div>
							<!-- Damage Skin 2: Han -->
							<button class="skin-option" data-skin="2">
								<span>Han</span>
								<div class="icon" data-background="showdamage/icon_damage02.bmp"></div>
							</button>
						</div>
						<div class="skin-wrapper">
							<div>
								<button
									class="checkbox motion-check"
									data-motion="3"
									data-background="checkbox_0.bmp"
								></button>
								<span data-text="3991">Right</span>
							</div>
							<!-- Damage Skin 3: Hidden -->
							<button class="skin-option" data-skin="3">
								<span>Hidden</span>
								<div class="icon" data-background="showdamage/icon_damage03.bmp"></div>
							</button>
						</div>
					</div>
				</td>
			</tr>
		</table>
		<div class="footer" id="equipment_footer" data-background="basic_interface/equipwin_bg2.bmp">
			<div class="left">
				<button class="show_equip" data-background="checkbox_0.bmp" data-preload="checkbox_1.bmp"></button>
				<span data-text="1362">Show Equip</span>
				<button class="show_costume" data-background="checkbox_1.bmp" data-preload="checkbox_0.bmp"></button>
				<span data-text="4103">Show Costume</span>
			</div>
			<div class="right">
				<button
					class="switch_equip"
					data-background="basic_interface/btn_e_change_a.bmp"
					data-hover="basic_interface/btn_e_change_b.bmp"
				></button>
				<button
					class="remove_equip"
					data-background="basic_interface/btn_e_off_a.bmp"
					data-hover="basic_interface/btn_e_off_b.bmp"
				></button>
			</div>
			<div class="clear"></div>
		</div>
		<div class="status_component">
			<!-- Import status component -->
		</div>
	</div>
	<button
		id="lvlup_base"
		data-background="basic_interface/lv_up_off.bmp"
		data-sown="basic_interface/lv_up_on.bmp"
	></button>
</div>
