:host {
	width: 200px;
	top: 0px;
	left: 0px;
}

#MakeArrowSelection {
	position: absolute;
	width: 200px;
}
#MakeArrowSelection .head {
	position: absolute;
	width: 100%;
	height: 22px;
	top: 0px;
	left: 0px;
	background-repeat: repeat-x;
	background-color: white;
}
#MakeArrowSelection .head .text {
	position: relative;
	top: 2px;
	left: 5px;
	white-space: nowrap;
}
#MakeArrowSelection .bottom {
	position: relative;
	height: 120px;
	top: 80px;
	left: 0px;
}

#MakeArrowSelection .content {
	position: absolute;
	top: 22px;
	left: 0px;
	background-color: white;
	width: 100%;
}
#MakeArrowSelection .list {
	background-color: #f7f7f7;
	height: 130px;
	overflow-y: auto;
	overflow-x: hidden;
	margin-left: 10px;
	margin-right: 10px;
}
#MakeArrowSelection .list .item {
	display: block;
	height: 28px;
	margin: 4px 4px 4px 4px;
	position: relative;
}
#MakeArrowSelection .list .item .icon {
	width: 24px;
	height: 24px;
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
}
#MakeArrowSelection .list .item .name {
	position: absolute;
	top: 7px;
	left: 30px;
	width: 90px;
	white-space: nowrap;
}

#MakeArrowSelection ui-button.btn {
	position: absolute;
	bottom: 4px;
	width: 42px;
	height: 20px;
}
#MakeArrowSelection .ok {
	right: 50px;
}
#MakeArrowSelection .cancel {
	right: 5px;
}
