<div id="CharSelectV2">
	<ui-image src="login_interface/win_select2.bmp"></ui-image>
	<!-- BOX -->
	<div class="box_select"><ui-image src="login_interface/box_select.bmp"></ui-image></div>
	<canvas class="slot1" width="126" height="132"></canvas>
	<canvas class="slot2" width="126" height="132"></canvas>
	<canvas class="slot3" width="126" height="132"></canvas>
	<div class="timedelete slot1 hidden"></div>
	<div class="timedelete slot2 hidden"></div>
	<div class="timedelete slot3 hidden"></div>

	<!-- Arrows -->
	<ui-button class="arrow left" bg="scroll1left.bmp"></ui-button>
	<ui-button class="arrow right" bg="scroll1right.bmp"></ui-button>

	<!-- Slots infos -->
	<div class="slotinfo">
		<span class="number">0 / 27</span>
		<span class="content"></span>
	</div>

	<!-- Pages infos -->
	<div class="pageinfo"><span class="current">1</span> / <span class="count">9</span></div>

	<!-- Characters infos -->
	<div class="charinfo">
		<div class="name"></div>
		<div class="job"></div>
		<div class="lvl"></div>
		<div class="exp"></div>
		<div class="hp"></div>
		<div class="sp"></div>
		<div class="map"></div>
		<div class="str"></div>
		<div class="agi"></div>
		<div class="vit"></div>
		<div class="int"></div>
		<div class="dex"></div>
		<div class="luk"></div>
	</div>

	<!-- Buttons -->
	<div class="btns">
		<ui-button
			class="btn delete"
			bg="btn_del_res.bmp"
			hover="btn_del_res_a.bmp"
			down="btn_del_res_b.bmp"
		></ui-button>
		<ui-button
			class="btn canceldelete"
			bg="btn_cancel_res.bmp"
			hover="btn_cancel_res_a.bmp"
			down="btn_cancel_res_b.bmp"
		></ui-button>
		<ui-button class="btn finaldelete" bg="btn_del.bmp" hover="btn_del_a.bmp" down="btn_del_b.bmp"></ui-button>
		<ui-button class="btn cancel" bg="btn_cancel.bmp" hover="btn_cancel_a.bmp" down="btn_cancel_b.bmp"></ui-button>
		<ui-button class="btn ok" bg="btn_ok.bmp" hover="btn_ok_a.bmp" down="btn_ok_b.bmp"></ui-button>
		<ui-button class="btn make" bg="btn_make.bmp" hover="btn_make_a.bmp" down="btn_make_b.bmp"></ui-button>
	</div>
</div>
