<div id="ChatRoomCreate">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<span class="text" data-text="125">Make a Room</span>
		</div>
		<div class="right">
			<button
				class="base close"
				data-background="basic_interface/sys_close_off.bmp"
				data-hover="basic_interface/sys_close_on.bmp"
			></button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="panel">
		<form class="setup">
			<table class="container">
				<tr>
					<td class="head">Title :</td>
					<td colspan="3">
						<input class="title" type="text" name="title" value="" maxlength="32" />
					</td>
				</tr>
				<tr>
					<td class="head">Limit :</td>
					<td>
						<select name="limit" class="limit">
							<option value="20">20</option>
							<option value="12">12</option>
							<option value="8">8</option>
							<option value="4">4</option>
							<option value="2">2</option>
						</select>
					</td>
					<td class="head">Type :</td>
					<td>
						<select name="type" class="type">
							<option value="1" data-text="130">Chat Room</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="head">Restrict :</td>
					<td class="mode" colspan="3">
						<span
							><input type="radio" name="public" value="1" checked="checked" /><span data-text="201"
								>Púb.</span
							></span
						>
						<span><input type="radio" name="public" value="0" /><span data-text="200">Priv.</span></span>
						<span class="head">Sign :</span>
						<input class="password" type="password" name="password" value="" maxlength="16" />
					</td>
				</tr>
			</table>
		</form>
	</div>
	<div class="footer" data-background="basic_interface/btnbar_mid2.bmp">
		<button class="btn ok" data-background="btn_ok.bmp" data-hover="btn_ok_a.bmp" data-down="btn_ok_b.bmp"></button>
		<button
			class="btn cancel"
			data-background="btn_cancel.bmp"
			data-hover="btn_cancel_a.bmp"
			data-down="btn_cancel_b.bmp"
		></button>
	</div>
</div>
