<div id="ShortCuts">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<button
				class="base"
				data-background="basic_interface/sys_base_off.bmp"
				data-hover="basic_interface/sys_base_on.bmp"
			></button>
			<span class="text" data-text="574">ShortCuts</span>
		</div>
		<div class="right">
			<button
				class="base close"
				data-background="basic_interface/sys_close_off.bmp"
				data-hover="basic_interface/sys_close_on.bmp"
			></button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="overlay"></div>
	<div class="panel">
		<div class="macro">
			<label for="macro_1">Macro 1</label>
			<input type="text" id="macro_1" class="macro_" name="macro_1" /><br />

			<label for="macro_2">Macro 2</label>
			<input type="text" id="macro_2" class="macro_" name="macro_2" /><br />

			<label for="macro_3">Macro 3</label>
			<input type="text" id="macro_3" class="macro_" name="macro_3" /><br />

			<label for="macro_4">Macro 4</label>
			<input type="text" id="macro_4" class="macro_" name="macro_4" /><br />

			<label for="macro_5">Macro 5</label>
			<input type="text" id="macro_5" class="macro_" name="macro_5" /><br />

			<label for="macro_6">Macro 6</label>
			<input type="text" id="macro_6" class="macro_" name="macro_6" /><br />

			<label for="macro_7">Macro 7</label>
			<input type="text" id="macro_7" class="macro_" name="macro_7" /><br />

			<label for="macro_8">Macro 8</label>
			<input type="text" id="macro_8" class="macro_" name="macro_8" /><br />

			<label for="macro_9">Macro 9</label>
			<input type="text" id="macro_9" class="macro_" name="macro_9" /><br />

			<label for="macro_0">Macro 0</label>
			<input type="text" id="macro_0" class="macro_" name="macro_0" /><br />
		</div>
		<div class="footer" data-background="basic_interface/btnbar_mid2.bmp">
			<button
				class="emoticons"
				id="emoticons_shortcuts"
				data-background="btn_view.bmp"
				data-down="btn_view_a.bmp"
				data-hover="btn_view_b.bmp"
			></button>
		</div>
	</div>
</div>
