<div id="grfviewer">
	<!-- head titlebar -->
	<div id="head">
		<div id="previous"></div>
		<div id="next"></div>
		<input type="text" value="" id="path" />
		<input type="text" value="Search..." id="search" />
	</div>

	<!-- Loading progress -->
	<div id="progress"></div>

	<!-- Context Menu -->
	<div class="overlay"></div>
	<div id="contextmenu">
		<div class="header" title="Copy to clipboard">Name</div>
		<hr />
		<div class="open">Open File</div>
		<a class="save" href="#">Extract File</a>
		<hr />
		<div class="info">Properties</div>
	</div>

	<!-- Preview box -->
	<div id="preview">
		<div class="box"></div>
	</div>

	<!-- Message -->
	<div id="msg"></div>

	<!-- Drag drop box -->
	<div id="info">
		<h3>Drop GRF file on the area to start</h3>
		<div class="input">
			<button>Select Files</button>
			<input type="file" accept="" multiple="multiple" id="file" />
		</div>
	</div>
</div>
