<div id="ReadRodex">
	<div class="body" data-background="basic_interface/rodexsystem/renewal/bg_rodex_read.bmp">
		<div class="titlebar">
			<div class="right">
				<button
					class="base close"
					data-background="basic_interface/sys_close_off.bmp"
					data-hover="basic_interface/sys_close_on.bmp"
				></button>
			</div>
		</div>
		<div class="sender">
			<span class="name"></span>
		</div>
		<div class="title">
			<span class="title-text"></span>
		</div>
		<div class="content">
			<span class="content-text"></span>
		</div>
		<div class="items">
			<div class="item-list"></div>
			<button
				class="get-content"
				data-background="basic_interface/rodexsystem/renewal/btn_receive_out.bmp"
				data-hover="basic_interface/rodexsystem/renewal/btn_receive_over.bmp"
				data-down="basic_interface/rodexsystem/renewal/btn_receive_press.bmp"
			></button>
		</div>
		<div class="zeny">
			<span class="image" data-background="basic_interface/rodexsystem/renewal/icon_zeny.bmp"></span>
			<span class="value"></span>
			<button
				class="get-zeny"
				data-background="basic_interface/rodexsystem/renewal/btn_receive_out.bmp"
				data-hover="basic_interface/rodexsystem/renewal/btn_receive_over.bmp"
				data-down="basic_interface/rodexsystem/renewal/btn_receive_press.bmp"
			></button>
		</div>
		<div class="footer">
			<button
				class="base delete"
				data-background="basic_interface/rodexsystem/renewal/btn_delete_out.bmp"
				data-hover="basic_interface/rodexsystem/renewal/btn_delete_over.bmp"
				data-down="basic_interface/rodexsystem/renewal/btn_delete_press.bmp"
			></button>
			<button
				class="base reply"
				data-background="basic_interface/rodexsystem/renewal/btn_reply_out.bmp"
				data-hover="basic_interface/rodexsystem/renewal/btn_reply_over.bmp"
				data-down="basic_interface/rodexsystem/renewal/btn_reply_press.bmp"
			></button>
		</div>
	</div>
</div>
