<div id="Rodex">
	<div class="body" data-background="basic_interface/rodexsystem/renewal/bg_rodex_list.bmp">
		<div class="titlebar">
			<div class="right">
				<button
					class="base close"
					data-background="basic_interface/sys_close_off.bmp"
					data-hover="basic_interface/sys_close_on.bmp"
				></button>
			</div>
		</div>
		<div class="iconbar">
			<button
				class="base refresh"
				data-background="basic_interface/rodexsystem/renewal/btn_refresh_out.bmp"
				data-hover="basic_interface/rodexsystem/renewal/btn_refresh_over.bmp"
				data-down="basic_interface/rodexsystem/renewal/btn_refresh_press.bmp"
			>
				<span data-text="2849"></span>
			</button>
			<button
				class="base write"
				data-background="basic_interface/rodexsystem/renewal/btn_write_out.bmp"
				data-hover="basic_interface/rodexsystem/renewal/btn_write_over.bmp"
				data-down="basic_interface/rodexsystem/renewal/btn_write_press.bmp"
			>
				<span data-text="1026"></span>
			</button>
		</div>
		<div class="searchbar">
			<button
				class="base search-title"
				data-background="basic_interface/rodexsystem/renewal/checkbox_search_on.bmp"
			></button>
			<span class="search-title-text search-text" data-text="3192"></span>
			<button
				class="base search-sender"
				data-background="basic_interface/rodexsystem/renewal/checkbox_search_off.bmp"
			></button>
			<span class="search-sender-text search-text" data-text="3193"></span>
			<input class="search" type="text" />
			<button
				class="base search-btn"
				data-background="basic_interface/rodexsystem/renewal/btn_search_out.bmp"
				data-hover="basic_interface/rodexsystem/renewal/btn_search_over.bmp"
				data-down="basic_interface/rodexsystem/renewal/btn_search_press.bmp"
			></button>
		</div>
		<div class="navbar">
			<ul class="nav">
				<li id="tab_1" class="nav-item" data-text="3546"></li>
				<li id="tab_0" class="nav-item active" data-text="3547"></li>
				<li id="tab_2" class="nav-item" data-text="3548"></li>
				<li id="tab_3" class="nav-item" data-text="3549"></li>
			</ul>
		</div>
		<div class="rodex-list">
			<ul class="mail-list"></ul>
		</div>
		<div class="footer">
			<button
				class="base delete-all"
				data-background="navigation_interface3/btn_normal.bmp"
				data-hover="navigation_interface3/btn_over.bmp"
				data-down="navigation_interface3/btn_press.bmp"
				data-text="3589"
			></button>
			<button
				class="base retrieve-all"
				data-background="navigation_interface3/btn_normal.bmp"
				data-hover="navigation_interface3/btn_over.bmp"
				data-down="navigation_interface3/btn_press.bmp"
				data-text="3592"
			></button>
			<button
				class="base previous-page"
				data-background="basic_interface/rodexsystem/renewal/btn_prev_out.bmp"
				data-hover="basic_interface/rodexsystem/renewal/btn_prev_over.bmp"
				data-down="basic_interface/rodexsystem/renewal/btn_prev_press.bmp"
			></button>
			<button
				class="base next-page"
				data-background="basic_interface/rodexsystem/renewal/btn_next_out.bmp"
				data-hover="basic_interface/rodexsystem/renewal/btn_next_over.bmp"
				data-down="basic_interface/rodexsystem/renewal/btn_next_press.bmp"
			></button>
		</div>
	</div>
</div>
