<div id="WriteRodex">
	<div class="overlay"></div>
	<div class="body" data-background="basic_interface/rodexsystem/renewal/bg_rodex_read.bmp">
		<div class="titlebar">
			<div class="right">
				<button
					class="base close"
					data-background="basic_interface/sys_close_off.bmp"
					data-hover="basic_interface/sys_close_on.bmp"
				></button>
			</div>
		</div>
		<div class="sender">
			<input class="name" />
			<button
				class="base validate-name"
				data-text="3545"
				data-background="basic_interface/rodexsystem/renewal/btn_confirm_id_empty_out.bmp"
				data-hover="basic_interface/rodexsystem/renewal/btn_confirm_id_empty_over.bmp"
				data-down="basic_interface/rodexsystem/renewal/btn_confirm_id_empty_press.bmp"
			></button>
			<span class="baloon" data-background="basic_interface/rodexsystem/renewal/bg_id_balloon.bmp"></span>
		</div>
		<div class="title">
			<input class="title-text" />
		</div>
		<div class="content">
			<textarea class="content-text"></textarea>
		</div>
		<div class="items">
			<div class="item-list"></div>
			<span class="weigth" data-background="basic_interface/rodexsystem/renewal/bg_weight.bmp"></span>
			<span class="weigth-text">0 2000</span>
		</div>
		<div class="zeny">
			<span class="image" data-background="basic_interface/rodexsystem/renewal/icon_zeny.bmp"></span>
			<input
				type="number"
				class="value [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
			/>
			<span class="character-zeny"></span>
		</div>
		<div class="footer">
			<span type="text" class="base tax" data-background="basic_interface/rodexsystem/renewal/bg_tax.bmp"></span>
			<span class="tax-text">0</span>
			<button
				class="base send"
				data-background="basic_interface/rodexsystem/renewal/btn_reply_out.bmp"
				data-hover="basic_interface/rodexsystem/renewal/btn_reply_over.bmp"
				data-down="basic_interface/rodexsystem/renewal/btn_reply_press.bmp"
			></button>
		</div>
	</div>
</div>
