<div id="cartitems">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<button
				class="base"
				data-background="basic_interface/sys_base_off.bmp"
				data-hover="basic_interface/sys_base_on.bmp"
			></button>
			<span class="text" data-text="222">CartItems</span>
		</div>
		<div class="right">
			<button
				class="base mini"
				data-background="basic_interface/sys_mini_off.bmp"
				data-hover="basic_interface/sys_mini_on.bmp"
			></button>
			<button
				class="base close"
				data-background="basic_interface/sys_close_off.bmp"
				data-hover="basic_interface/sys_close_on.bmp"
			></button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="overlay"></div>
	<div class="panel">
		<table>
			<tr>
				<td class="container">
					<div class="ff_bugfix">
						<div class="hide"></div>
						<div class="content" data-background="basic_interface/itemwin_mid.bmp"></div>
					</div>
				</td>
			</tr>
			<tr>
				<td class="footer" data-background="basic_interface/btnbar_mid2.bmp">
					<div class="cnt">Num:<span class="ncnt"></span>/<span class="mcnt"></span></div>
					<div class="wt">Weight:<span class="nwt"></span>/<span class="mwt"></span></div>
					<button class="extend" data-background="btn_resize.bmp"></button>
				</td>
			</tr>
		</table>
	</div>
</div>
