<div id="changecart">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<button
				class="base"
				data-background="basic_interface/sys_base_off.bmp"
				data-hover="basic_interface/sys_base_on.bmp"
			></button>
			<span class="text" data-text="659">ChangeCart</span>
		</div>
		<div class="right">
			<button
				class="base mini"
				data-background="basic_interface/sys_mini_off.bmp"
				data-hover="basic_interface/sys_mini_on.bmp"
			></button>
			<button
				class="base close"
				data-background="basic_interface/sys_close_off.bmp"
				data-hover="basic_interface/sys_close_on.bmp"
			></button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="carts">
		<div class="cart" data-id="1">
			<canvas id="cart1" class="canvas" width="75" height="80" style="pointer-events: none" data-id="1"></canvas>
		</div>
		<div class="cart" data-id="2">
			<canvas id="cart2" class="canvas" width="75" height="80" style="pointer-events: none" data-id="2"></canvas>
		</div>
		<div class="cart" data-id="3">
			<canvas id="cart3" class="canvas" width="75" height="80" style="pointer-events: none" data-id="3"></canvas>
		</div>
		<div class="cart" data-id="4">
			<canvas id="cart4" class="canvas" width="75" height="80" style="pointer-events: none" data-id="4"></canvas>
		</div>
		<div class="cart" data-id="5">
			<canvas id="cart5" class="canvas" width="75" height="80" style="pointer-events: none" data-id="5"></canvas>
		</div>
		<div class="cart" data-id="6">
			<canvas id="cart6" class="canvas" width="75" height="80" style="pointer-events: none" data-id="6"></canvas>
		</div>
		<div class="cart" data-id="7">
			<canvas id="cart7" class="canvas" width="75" height="80" style="pointer-events: none" data-id="7"></canvas>
		</div>
		<div class="cart" data-id="8">
			<canvas id="cart8" class="canvas" width="75" height="80" style="pointer-events: none" data-id="8"></canvas>
		</div>
		<div class="cart" data-id="9">
			<canvas id="cart9" class="canvas" width="75" height="80" style="pointer-events: none" data-id="9"></canvas>
		</div>
	</div>
</div>
