<div id="ItemPreview">
	<div class="titlebar">
		<ui-image src="basic_interface/titlebar_mid.bmp"></ui-image>
		<ui-text class="title" msg="2960"></ui-text>
		<ui-button
			class="close"
			bg="basic_interface/sys_close_off.bmp"
			hover="basic_interface/sys_close_on.bmp"
		></ui-button>
	</div>
	<div class="content">
		<canvas width="55" height="145"></canvas>
		<div class="controls">
			<ui-button
				class="rot_left"
				bg="make_character/chr_arrow_rotate_l_out.bmp"
				hover="make_character/chr_arrow_rotate_l_over.bmp"
				down="make_character/chr_arrow_rotate_l_press.bmp"
			></ui-button>
			<ui-button
				class="reset"
				bg="equip_preview/btn_mounting_normal.bmp"
				down="equip_preview/btn_mounting_press.bmp"
				hover="equip_preview/btn_mounting_over.bmp"
				><ui-text msg="2975"></ui-text
			></ui-button>
			<ui-button
				class="rot_right"
				bg="make_character/chr_arrow_rotate_r_out.bmp"
				hover="make_character/chr_arrow_rotate_r_over.bmp"
				down="make_character/chr_arrow_rotate_r_press.bmp"
			></ui-button>
		</div>
	</div>
</div>
