:host {
	top: 2px;
	right: 2px;
}

#minimap ui-button.plus {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 12px;
	height: 12px;
}

#minimap ui-button.minus {
	position: absolute;
	top: 4px;
	left: 18px;
	width: 12px;
	height: 12px;
}
