<div id="Clan">
	<div class="titlebar">
		<ui-image src="basic_interface/titlebar_mid.bmp"></ui-image>
		<div class="right">
			<ui-button
				class="base close"
				bg="basic_interface/sys_close_off.bmp"
				hover="basic_interface/sys_close_on.bmp"
			></ui-button>
		</div>
		<div class="clear"></div>
	</div>

	<div class="tabs">
		<button class="info active"><ui-text msg="2355">Clan Info</ui-text></button>
	</div>

	<div class="panel">
		<div class="content info">
			<div class="name"><ui-text msg="2357">Clan Name</ui-text> : <span class="value"></span></div>
			<div class="level"><ui-text msg="2356">Clan level</ui-text> : <span class="value"></span></div>
			<div class="master"><ui-text msg="2362">Master Name</ui-text> : <span class="value"></span></div>
			<div class="members">
				<ui-text msg="2363">The number of members</ui-text> :
				<span class="maxMember">0</span>
				<ui-button bg="basic_interface/grp_online.bmp"></ui-button>
				<span class="online"></span>
			</div>
			<div class="territory"><ui-text msg="2364">Managed Territory</ui-text> : <span class="value"></span></div>
			<div class="clan_illust"></div>
			<div class="emblem"><ui-text msg="2358">Clan mark</ui-text></div>
			<div class="emblem_container"></div>
			<div class="ally"><ui-text msg="2359">Ally Clan</ui-text></div>
			<div class="ally_list"></div>
			<div class="hostile"><ui-text msg="2360">Hostile Clan</ui-text></div>
			<div class="hostile_list"></div>
		</div>
	</div>

	<div class="footer">
		<ui-image src="basic_interface/btnbar_mid2.bmp"></ui-image>
		<ui-button class="btn_ok" bg="btn_ok.bmp" hover="btn_ok_a.bmp" down="btn_ok_b.bmp"></ui-button>
	</div>
</div>
