<div id="ItemListWindowSelection">
	<div class="titlebar">
		<ui-image src="basic_interface/titlebar_mid.bmp"></ui-image>
		<div class="left">
			<ui-text class="text" msg="1568">Storage</ui-text>
		</div>
		<div class="clear"></div>
	</div>
	<div class="overlay"></div>
	<div class="panel">
		<div class="body">
			<div class="infor_nventory">
				<div class="tabs" rowspan="2">
					<ui-image src="basic_interface/chatwin1_mid.bmp"></ui-image>
				</div>
				<div class="container">
					<div class="content">
						<ui-image src="basic_interface/itemwin_mid.bmp"></ui-image>
					</div>
				</div>
			</div>
			<div>
				<div class="footer">
					<ui-image src="basic_interface/btnbar_mid2.bmp"></ui-image>
					<div class="ask_quantity">
						<ui-button class="selectall event_selectall" bg="checkbox_0.bmp"></ui-button>
						<ui-text class="event_selectall event_add_cursor" msg="295"
							>Don't ask the Quantity of Items</ui-text
						>
					</div>

					<ui-button class="extend" bg="btn_resize.bmp"></ui-button>
				</div>
			</div>
		</div>
	</div>
</div>
