<div id="InventoryV0">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<button
				class="base"
				data-background="basic_interface/sys_base_off.bmp"
				data-hover="basic_interface/sys_base_on.bmp"
			></button>
			<span class="text" data-text="106">Inventory</span>
		</div>
		<div class="right">
			<button
				class="base mini"
				data-background="basic_interface/sys_mini_off.bmp"
				data-hover="basic_interface/sys_mini_on.bmp"
			></button>
			<button
				class="base close"
				data-background="basic_interface/sys_close_off.bmp"
				data-hover="basic_interface/sys_close_on.bmp"
			></button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="overlay"></div>
	<div class="panel">
		<div class="middle">
			<div class="tabs" data-background="basic_interface/btnbar_mid2.bmp">
				<div class="tab-sprite">
					<button class="item" data-tab="item"></button>
					<button class="equip" data-tab="equip"></button>
					<button class="etc" data-tab="etc"></button>
				</div>
			</div>
			<div class="container">
				<div class="scroll-host">
					<div class="content" data-background="basic_interface/itemwin_mid.bmp"></div>
				</div>
			</div>
		</div>
		<div class="footer" data-background="basic_interface/btnbar_mid2.bmp">
			<div class="cnt">Num:<span class="ncnt"></span>/<span class="mcnt"></span></div>
			<button class="extend" data-background="btn_resize.bmp"></button>
		</div>
	</div>
</div>
