<div id="Pincodewindow">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<ui-button
				class="base"
				bg="basic_interface/sys_base_off.bmp"
				hover="basic_interface/sys_base_on.bmp"
			></ui-button>
			<span class="text" data-text="1899">Pincodewindow</span>
		</div>
		<div class="clear"></div>
	</div>
	<div class="panel" data-background="basic_interface/2ndpassword_bg.bmp">
		<span class="txtlabel text1" data-text="1905">Pincodewindow</span>
		<span class="txtlabel text2" data-text="1906">Pincodewindow</span>
		<ui-button
			class="btn num1"
			bg="basic_interface/1-a.bmp"
			hover="basic_interface/1-b.bmp"
			down="basic_interface/1-c.bmp"
		></ui-button>
		<ui-button
			class="btn num2"
			bg="basic_interface/2-a.bmp"
			hover="basic_interface/2-b.bmp"
			down="basic_interface/2-c.bmp"
		></ui-button>
		<ui-button
			class="btn num3"
			bg="basic_interface/3-a.bmp"
			hover="basic_interface/3-b.bmp"
			down="basic_interface/3-c.bmp"
		></ui-button>
		<ui-button
			class="btn num4"
			bg="basic_interface/4-a.bmp"
			hover="basic_interface/4-b.bmp"
			down="basic_interface/4-c.bmp"
		></ui-button>
		<ui-button
			class="btn num5"
			bg="basic_interface/5-a.bmp"
			hover="basic_interface/5-b.bmp"
			down="basic_interface/5-c.bmp"
		></ui-button>
		<ui-button
			class="btn num6"
			bg="basic_interface/6-a.bmp"
			hover="basic_interface/6-b.bmp"
			down="basic_interface/6-c.bmp"
		></ui-button>
		<ui-button
			class="btn num7"
			bg="basic_interface/7-a.bmp"
			hover="basic_interface/7-b.bmp"
			down="basic_interface/7-c.bmp"
		></ui-button>
		<ui-button
			class="btn num8"
			bg="basic_interface/8-a.bmp"
			hover="basic_interface/8-b.bmp"
			down="basic_interface/8-c.bmp"
		></ui-button>
		<ui-button
			class="btn num9"
			bg="basic_interface/9-a.bmp"
			hover="basic_interface/9-b.bmp"
			down="basic_interface/9-c.bmp"
		></ui-button>
		<ui-button
			class="btn num0"
			bg="basic_interface/0-a.bmp"
			hover="basic_interface/0-b.bmp"
			down="basic_interface/0-c.bmp"
		></ui-button>
		<ui-button
			class="numReset"
			bg="basic_interface/reset-a.bmp"
			hover="basic_interface/reset-b.bmp"
			down="basic_interface/reset-c.bmp"
		></ui-button>
		<span class="txtlabel pwd" data-text="1012">Pincodewindow</span>
		<input class="pass" type="password" value="" />
		<span class="txtlabel newpwd" data-text="1013">Pincodewindow</span>
		<input class="newpass" type="password" value="" />
		<span class="txtlabel checkpwd" data-text="1014">Pincodewindow</span>
		<input class="checkpass" type="password" value="" />
		<ui-button class="btn2 ok" bg="btn_big_ok.bmp" hover="btn_big_ok_a.bmp" down="btn_big_ok_b.bmp"></ui-button>
		<ui-button
			class="btn2 change"
			bg="btn_big_change.bmp"
			hover="btn_big_change_a.bmp"
			down="btn_big_change_b.bmp"
		></ui-button>
		<ui-button
			class="btn2 verify"
			bg="btn_big_next.bmp"
			hover="btn_big_next_a.bmp"
			down="btn_big_next_b.bmp"
		></ui-button>
		<ui-button
			class="btn2 unused"
			bg="btn_big_unused.bmp"
			hover="btn_big_unused_a.bmp"
			down="btn_big_unused_b.bmp"
		></ui-button>
		<ui-button
			class="btn2 cancel"
			bg="btn_big_cancel.bmp"
			hover="btn_big_cancel_a.bmp"
			down="btn_big_cancel_b.bmp"
		></ui-button>
	</div>
	<div class="footer" data-background="basic_interface/btnbar_mid2.bmp"></div>
</div>
