<div id="WinLogin" class="win_login">
	<div class="win_login">
		<ui-image src="login_interface/bg_login.tga"></ui-image>
		<!-- User Auth -->
		<input id="user" class="user" type="text" value="" />
		<input id="pass" class="pass" type="password" value="" />
		<button
			id="save"
			class="save"
			type="button"
			data-background="login_interface/chk_saveoff.bmp"
			data-preload="login_interface/chk_saveon.bmp"
		></button>

		<!-- Buttons -->
		<button
			class="btn replay"
			type="button"
			data-background="login_interface/bt_join_normal.bmp"
			data-hover="login_interface/bt_join_over.bmp"
			data-down="login_interface/bt_join_press.bmp"
		>
			Replay
		</button>
		<input type="file" class="replay-upload" accept=".rrf" style="display: none" />
		<button
			id="btn_connect"
			class="btn connect"
			type="submit"
			data-background="login_interface/bt_start_normal.bmp"
			data-hover="login_interface/bt_start_over.bmp"
			data-down="login_interface/bt_start_press.bmp"
		></button>
		<button
			id="btn_connect"
			class="btn signup"
			type="button"
			data-background="login_interface/bt_join_normal.bmp"
			data-hover="login_interface/bt_join_over.bmp"
			data-down="login_interface/bt_join_press.bmp"
		>
			Sign Up
		</button>
		<button id="btn_exit" class="btn exit" type="button"></button>
	</div>
</div>
