<div id="vendingshop">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<span class="text shopname"></span>
		</div>
		<div class="clear"></div>
	</div>
	<div class="overlay"></div>
	<div class="panel">
		<table>
			<tr>
				<td class="container">
					<div class="ff_bugfix">
						<div class="hide"></div>
						<div class="content" data-background="basic_interface/itemwin_mid.bmp"></div>
					</div>
				</td>
			</tr>
			<tr>
				<td class="footer" data-background="basic_interface/btnbar_mid2.bmp">
					<div class="right">
						<ui-button
							class="btn close"
							bg="btn_close.bmp"
							hover="btn_close_a.bmp"
							down="btn_close_b.bmp"
						></ui-button>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
