<div id="ShortCut" data-background="basic_interface/shortitem_bg.bmp">
	<button
		class="close"
		data-background="basic_interface/sys_close_off.bmp"
		data-hover="basic_interface/sys_close_on.bmp"
	></button>
	<button class="resize" data-background="btn_resize.bmp"></button>

	<div class="row">
		<div class="container" data-index="0"></div>
		<div class="container" data-index="1"></div>
		<div class="container" data-index="2"></div>
		<div class="container" data-index="3"></div>
		<div class="container" data-index="4"></div>
		<div class="container" data-index="5"></div>
		<div class="container" data-index="6"></div>
		<div class="container" data-index="7"></div>
		<div class="container" data-index="8"></div>
		<div class="index">1</div>
		<div class="clear"></div>
	</div>

	<div class="row">
		<div class="container" data-index="9"></div>
		<div class="container" data-index="10"></div>
		<div class="container" data-index="11"></div>
		<div class="container" data-index="12"></div>
		<div class="container" data-index="13"></div>
		<div class="container" data-index="14"></div>
		<div class="container" data-index="15"></div>
		<div class="container" data-index="16"></div>
		<div class="container" data-index="17"></div>
		<div class="index">2</div>
		<div class="clear"></div>
	</div>

	<div class="row">
		<div class="container" data-index="18"></div>
		<div class="container" data-index="19"></div>
		<div class="container" data-index="20"></div>
		<div class="container" data-index="21"></div>
		<div class="container" data-index="22"></div>
		<div class="container" data-index="23"></div>
		<div class="container" data-index="24"></div>
		<div class="container" data-index="25"></div>
		<div class="container" data-index="26"></div>
		<div class="index">3</div>
		<div class="clear"></div>
	</div>

	<div class="row">
		<div class="container" data-index="27"></div>
		<div class="container" data-index="28"></div>
		<div class="container" data-index="29"></div>
		<div class="container" data-index="30"></div>
		<div class="container" data-index="31"></div>
		<div class="container" data-index="32"></div>
		<div class="container" data-index="33"></div>
		<div class="container" data-index="34"></div>
		<div class="container" data-index="35"></div>
		<div class="index">4</div>
		<div class="clear"></div>
	</div>

	<div class="shortcut-tooltip"></div>
</div>
