<div id="MakeReadBook">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="title"><span class="text" id="titleBook"></span> <span class="text" id="pageBook">(1/3)</span></div>
	</div>
	<div class="panel">
		<div class="head">
			<div class="event_book" id="highlighter">
				<span class="bookmark" data-text="1296">Bookmark</span>
			</div>
			<div class="event_book" id="next_previous">
				<span class="previous" data-text="1297">Previous</span>
				<span class="next" data-text="1298">Next</span>
			</div>
		</div>
		<div class="body">
			<pre class="text" id="textBook"></pre>
		</div>
		<div class="footer"></div>
	</div>
</div>
