<div id="MiniMapV2" class="MiniMapUI">
	<canvas width="128" height="128"></canvas>
	<div class="info_container">
		<ui-button
			class="object"
			bg="minimap/i_object_1.bmp"
			hover="minimap/i_object_2.bmp"
			down="minimap/i_object_3.bmp"
		></ui-button>
		<div class="coordinates">
			<span class="coord x">0</span>
			<span class="coord y">0</span>
		</div>
		<ui-button
			class="plus"
			bg="minimap/i_plus_1.bmp"
			hover="minimap/i_plus_2.bmp"
			down="minimap/i_plus_3.bmp"
		></ui-button>
		<ui-button
			class="minus"
			bg="minimap/i_minus_1.bmp"
			hover="minimap/i_minus_2.bmp"
			down="minimap/i_minus_3.bmp"
		></ui-button>
		<ui-button
			class="mini"
			bg="minimap/i_mini_1.bmp"
			hover="minimap/i_mini_2.bmp"
			down="minimap/i_mini_3.bmp"
		></ui-button>
		<ui-button
			class="viewon"
			bg="minimap/i_viewon_1.bmp"
			hover="minimap/i_viewon_2.bmp"
			down="minimap/i_viewon_3.bmp"
		></ui-button>
	</div>
</div>
