<div id="Bank">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<button
				class="base"
				data-background="basic_interface/sys_base_off.bmp"
				data-hover="basic_interface/sys_base_on.bmp"
			></button>
			<span class="text" data-text="2771"></span>
		</div>
		<div class="right">
			<button
				class="base close"
				data-background="basic_interface/sys_close_off.bmp"
				data-hover="basic_interface/sys_close_on.bmp"
			></button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="container" data-background="bank/bg_bank.bmp">
		<div class="uppercontainer">
			<div class="inbanktitle">
				<span class="text" data-text="2772"></span>
			</div>
			<div class="inbank currency">0z</div>
			<div class="onhandtitle">
				<span class="text" data-text="2773"></span>
			</div>
			<div class="onhand currency">0z</div>
		</div>
		<div class="midcontainer">
			<input class="depo no-spinners" type="text" min="0" maxlength="10" />
			<button
				class="plus buttons"
				data-background="bank/btn_upper_out.bmp"
				data-hover="bank/btn_upper_over.bmp"
				data-down="bank/btn_upper_press.bmp"
			>
				<span class="name" data-text="2776"></span>
			</button>
			<button
				class="minus buttons"
				data-background="bank/btn_buttom_out.bmp"
				data-hover="bank/btn_buttom_over.bmp"
				data-down="bank/btn_buttom_press.bmp"
			>
				<span class="name" data-text="2777"></span>
			</button>
			<button
				class="deposit buttons"
				data-background="bank/btn_deposit_out.bmp"
				data-hover="bank/btn_deposit_over.bmp"
				data-down="bank/btn_deposit_press.bmp"
			>
				<span class="name" data-text="2774"></span>
			</button>
			<button
				class="withdraw buttons"
				data-background="bank/btn_withdraw_out.bmp"
				data-hover="bank/btn_withdraw_over.bmp"
				data-down="bank/btn_withdraw_press.bmp"
			>
				<span class="name" data-text="2775"></span>
			</button>
			<div class="errorupdate"></div>
		</div>
		<div class="lowercontainer">
			<button
				class="max buttons"
				data-background="bank/btn_max_out.bmp"
				data-hover="bank/btn_max_over.bmp"
				data-down="bank/btn_max_press.bmp"
			>
				<span class="name" data-text="2778"></span>
			</button>
			<button
				class="tenmil buttons"
				data-background="bank/btn_1000mil_out.bmp"
				data-hover="bank/btn_1000mil_over.bmp"
				data-down="bank/btn_1000mil_press.bmp"
			>
				<span class="name">+ 10,000,000</span>
			</button>
			<button
				class="onemil buttons"
				data-background="bank/btn_100mil_out.bmp"
				data-hover="bank/btn_100mil_over.bmp"
				data-down="bank/btn_100mil_press.bmp"
			>
				<span class="name">+ 1,000,000</span>
			</button>
			<button
				class="hundtsn buttons"
				data-background="bank/btn_10mil_out.bmp"
				data-hover="bank/btn_10mil_over.bmp"
				data-down="bank/btn_10mil_press.bmp"
			>
				<span class="name">+ 100,000</span>
			</button>
		</div>
	</div>
</div>
