<div id="Escape" data-background="basic_interface/titlebar_fix.bmp">
	<div class="top">
		<button
			class="node"
			data-background="basic_interface/sys_base_off.bmp"
			data-hover="basic_interface/sys_base_on.bmp"
		></button>
		<div class="title" data-text="1483">Select Option</div>
	</div>

	<div class="container">
		<button
			class="resurection"
			data-background="esc_05a.bmp"
			data-hover="esc_05b.bmp"
			data-down="esc_05c.bmp"
		></button>
		<button
			class="savepoint"
			data-background="esc_04a.bmp"
			data-hover="esc_04b.bmp"
			data-down="esc_04c.bmp"
		></button>
		<button
			class="charselect"
			data-background="esc_01a.bmp"
			data-hover="esc_01b.bmp"
			data-down="esc_01c.bmp"
		></button>
		<button
			class="graphics"
			data-background="esc_06a.bmp"
			data-hover="esc_06b.bmp"
			data-down="esc_06c.bmp"
		></button>
		<button class="sound" data-background="esc_07a.bmp" data-hover="esc_07b.bmp" data-down="esc_07c.bmp"></button>
		<button class="hotkey" data-background="esc_08a.bmp" data-hover="esc_08b.bmp" data-down="esc_08c.bmp"></button>
		<button class="exit" data-background="esc_03a.bmp" data-hover="esc_03b.bmp" data-down="esc_03c.bmp"></button>
		<button class="cancel" data-background="esc_02a.bmp" data-hover="esc_02b.bmp" data-down="esc_02c.bmp"></button>
	</div>
</div>
