<div id="charcreate_v2">
	<div class="header">
		<div class="corner left"><ui-image src="basic_interface/titlebar_left.bmp"></ui-image></div>
		<div class="center"><ui-image src="basic_interface/titlebar_mid.bmp"></ui-image></div>
		<div class="corner right"><ui-image src="basic_interface/titlebar_right.bmp"></ui-image></div>

		<div class="title"><ui-text msg="2368"></ui-text></div>
	</div>

	<div class="content">
		<ui-image src="login_interface/win_make2.bmp"></ui-image>
		<canvas width="65" height="110"></canvas>

		<input type="text" data-background="login_interface/name-edit.bmp" value="" />

		<ui-button class="styleleft" bg="scroll1left.bmp"></ui-button>
		<ui-button class="styleright" bg="scroll1right.bmp"></ui-button>

		<ui-button class="colorleft" bg="scroll1left.bmp"></ui-button>
		<ui-button class="colorright" bg="scroll1right.bmp"></ui-button>
	</div>

	<div class="footer">
		<div class="corner left"><ui-image src="basic_interface/btnbar_left2.bmp"></ui-image></div>
		<div class="center"><ui-image src="basic_interface/btnbar_mid2.bmp"></ui-image></div>
		<div class="corner right"><ui-image src="basic_interface/btnbar_right2.bmp"></ui-image></div>

		<div class="btns">
			<ui-button
				class="btn cancel"
				bg="btn_cancel.bmp"
				hover="btn_cancel_a.bmp"
				down="btn_cancel_b.bmp"
			></ui-button>
			<ui-button class="btn make" bg="btn_make.bmp" hover="btn_make_a.bmp" down="btn_make_b.bmp"></ui-button>
		</div>
	</div>
</div>
