<div id="Emoticons">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<button
				class="base"
				data-background="basic_interface/sys_base_off.bmp"
				data-hover="basic_interface/sys_base_on.bmp"
			></button>
			<span class="text" data-text="542">Emotion icon List</span>
		</div>
		<div class="right">
			<button
				class="base close"
				data-background="basic_interface/sys_close_off.bmp"
				data-hover="basic_interface/sys_close_on.bmp"
			></button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="content"></div>
	<div class="navigation">
		<button class="prev" data-text="1297"></button>
		<span class="current">1</span> / <span class="total">3</span>
		<button class="next" data-text="1298"></button>
	</div>
</div>
