<div id="win_sense">
	<div class="header">
		<div class="titbar_left" data-background="basic_interface/titlebar_left.bmp"></div>
		<div class="titbar_mid" data-background="basic_interface/titlebar_mid.bmp"></div>
		<div class="titbar_right" data-background="basic_interface/titlebar_right.bmp"></div>
		<div class="title"></div>
	</div>

	<div class="content">
		<div class="sprite">
			<canvas id="canvas_model" width="120" height="155" style="pointer-events: none"></canvas>
		</div>

		<table class="stats">
			<tr>
				<td id="label_name"></td>
				<td id="value_name"></td>
				<td id="label_size"></td>
				<td id="value_size"></td>
			</tr>
			<tr>
				<td id="label_level"></td>
				<td id="value_level"></td>
				<td id="label_type"></td>
				<td id="value_type"></td>
			</tr>
			<tr>
				<td id="label_hp"></td>
				<td id="value_hp"></td>
				<td id="label_mdef"></td>
				<td id="value_mdef"></td>
			</tr>
			<tr>
				<td id="label_def"></td>
				<td id="value_def"></td>
				<td id="label_attr"></td>
				<td id="value_attr"></td>
			</tr>
		</table>

		<table class="elements">
			<tr>
				<td id="element_water"></td>
				<td id="element_wind"></td>
				<td id="element_shadow"></td>
			</tr>
			<tr>
				<td id="element_earth"></td>
				<td id="element_poison"></td>
				<td id="element_ghost"></td>
			</tr>
			<tr>
				<td id="element_fire"></td>
				<td id="element_holy"></td>
				<td id="element_undead"></td>
			</tr>
		</table>
	</div>

	<div class="footer">
		<div class="bg_left" data-background="basic_interface/btnbar_left2.bmp"></div>
		<div class="bg_mid" data-background="basic_interface/btnbar_mid2.bmp"></div>
		<div class="bg_right" data-background="basic_interface/btnbar_right2.bmp"></div>
		<div class="btns">
			<button
				class="btn close"
				data-background="btn_ok.bmp"
				data-down="btn_ok_b.bmp"
				data-hover="btn_ok_a.bmp"
			></button>
		</div>
	</div>
</div>
