<div id="WhisperBox" class="whisper-container">
	<div class="whisper-header">
		<span class="title">With weeeee (Friend) *^.^* [813-338]</span>
		<ui-button
			class="close"
			bg="basic_interface/sys_close_off.bmp"
			hover="basic_interface/sys_close_on.bmp"
		></ui-button>
	</div>
	<div class="whisper-body">
		<div class="content"></div>
	</div>
	<div class="whisper-footer">
		<div class="input-wrapper">
			<div contenteditable="true" class="message input-whisper"></div>
		</div>
		<div class="resizer event_add_cursor" data-background="btn_resize.bmp"></div>
	</div>
</div>
