<div id="QuestInfo">
	<div class="titlebar">
		<div class="quest-info-top-panel">
			<div class="quest-info-top-panel-title">Quest Information</div>
		</div>
		<div class="quest-info-mid-panel">
			<div class="quest-info-title-panel">
				<div class="quest-info-title-panel-text"></div>
			</div>
			<div class="quest-info-description-panel">
				<div class="quest-info-description-panel-title">
					<div class="quest-ui-img-poring"></div>
					<span class="quest-ui-title-span">Description</span>
				</div>
				<div class="quest-info-description-panel-text">
					<span class="quest-ui-text-span"></span>
				</div>
			</div>
			<div class="quest-info-monster-panel">
				<div class="quest-info-monster-panel-title">
					<div class="quest-ui-img-poring"></div>
					<span class="quest-ui-title-span">Monster</span>
				</div>
				<div class="quest-info-monster-panel-text">
					<span class="quest-ui-text-span"></span>
				</div>
			</div>
			<div class="quest-info-reward-panel">
				<div class="npc-sprite"></div>
				<div class="quest-info-reward-panel-title">
					<div class="quest-ui-img-poring"></div>
					<span class="quest-ui-title-span">Reward</span>
				</div>
				<div class="quest-info-reward-panel-text">
					<span class="quest-ui-text-span">
						<ul class="quest-info-reward-ul">
							<li class="quest-info-reward-li">
								<span>EXP</span><span class="quest-info-reward-li-base"></span>
							</li>
							<li class="quest-info-reward-li">
								<span>JEXP</span><span class="quest-info-reward-li-job"></span>
							</li>
							<li class="quest-info-reward-li">
								<span>Item</span
								><span class="quest-info-reward-li-item"
									><ul class="quest-info-reward-li-item-list"></ul
								></span>
							</li>
						</ul>
					</span>
				</div>
			</div>
		</div>
		<div class="quest-info-bottom-panel">
			<div class="quest-info-bottom-deadline-info">
				<span class="quest-info-bottom-deadline-info-text"></span>
			</div>
			<div class="quest-info-bottom-text">
				<ui-button class="quest-info-bottom-btn" bg="basic_interface/btn_close.bmp"></ui-button>
			</div>
		</div>
	</div>
</div>
