<div id="Quest">
	<div class="titlebar">
		<div class="quest-top-panel"><span class="quest-top-panel-text">Quest Information</span></div>
		<div class="quest-left-panel">
			<ul class="quest-menu">
				<li id="active" class="quest-menu-item"></li>
				<li id="feature" class="quest-menu-item"></li>
				<li id="inactive" class="quest-menu-item"></li>
				<li id="cooldown" class="quest-menu-item"></li>
			</ul>
		</div>
		<div class="quest-right-panel">
			<ul id="active-quest-list" class="quest-list"></ul>
			<ul id="feature-quest-list" class="quest-list"></ul>
			<ul id="inactive-quest-list" class="quest-list"></ul>
			<ul id="cooldown-quest-list" class="quest-list"></ul>
		</div>
		<div class="quest-bottom-panel">
			<div class="toggle-quest-list"><button class="toggle-quest-image"></button></div>
			<div class="toggle-quest-text"><span>Show Quest</span></div>
			<div class="close-quest-container">
				<ui-button class="close-quest-container-btn" bg="basic_interface/btn_close.bmp"></ui-button>
			</div>
		</div>
	</div>
</div>
