<div id="cartdecoration">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<button
				class="base"
				data-background="basic_interface/sys_base_off.bmp"
				data-hover="basic_interface/sys_base_on.bmp"
			></button>
			<span class="text">Cart Decoration</span>
		</div>
		<div class="right">
			<button
				class="base close"
				data-background="basic_interface/sys_close_off.bmp"
				data-hover="basic_interface/sys_close_on.bmp"
			></button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="carts">
		<div class="cart" data-id="10">
			<canvas
				id="deco_cart10"
				class="canvas"
				width="75"
				height="80"
				style="pointer-events: none"
				data-id="10"
			></canvas>
		</div>
		<div class="cart" data-id="11">
			<canvas
				id="deco_cart11"
				class="canvas"
				width="75"
				height="80"
				style="pointer-events: none"
				data-id="11"
			></canvas>
		</div>
		<div class="cart" data-id="12">
			<canvas
				id="deco_cart12"
				class="canvas"
				width="75"
				height="80"
				style="pointer-events: none"
				data-id="12"
			></canvas>
		</div>
	</div>
</div>
