<div id="Refine">
	<div class="titlebar">
		<ui-image src="basic_interface/titlebar_mid.bmp"></ui-image>
		<div class="left">
			<ui-button
				class="base"
				bg="basic_interface/sys_base_off.bmp"
				hover="basic_interface/sys_base_on.bmp"
			></ui-button>
			<span class="text"><ui-text msg="3241"></ui-text></span>
		</div>
		<div class="right">
			<ui-button
				class="base close"
				bg="basic_interface/sys_close_off.bmp"
				hover="basic_interface/sys_close_on.bmp"
			></ui-button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="overlay"></div>
	<div class="panel">
		<div class="image-container">
			<div class="success"></div>
			<div class="materials">
				<div class="mat_0 mat_overlay">
					<ui-image src="refining_renewal/slot_select_blue0.bmp"></ui-image>
					<div class="material_0"></div>
				</div>
				<div class="mat_1 mat_overlay">
					<ui-image src="refining_renewal/slot_select_blue1.bmp"></ui-image>
					<div class="material_1"></div>
				</div>
				<div class="mat_2 mat_overlay">
					<ui-image src="refining_renewal/slot_select_blue2.bmp"></ui-image>
					<div class="material_2"></div>
				</div>
				<div class="mat_3 mat_overlay">
					<ui-image src="refining_renewal/slot_select_blue3.bmp"></ui-image>
					<div class="material_3"></div>
				</div>
				<div class="bsb_overlay">
					<ui-image src="refining_renewal/slot_select_red.bmp"></ui-image>
					<div class="bsb"></div>
				</div>
				<div class="selected_materials">
					<div class="selected_mat"></div>
					<div class="bsb_selected"></div>
				</div>
			</div>
			<div class="item_to_refine"></div>
			<div class="item_to_refine_name"></div>
			<div class="refine_button">
				<div class="refine_disabled">
					<ui-image src="refining_renewal/bt_refining_disable.bmp"></ui-image>
				</div>
				<ui-button
					class="refine_enabled"
					bg="refining_renewal/bt_refining_normal.bmp"
					down="refining_renewal/bt_refining_press.bmp"
				></ui-button>
				<div class="refine_text"><ui-text msg="3241"></ui-text></div>
				<div class="refine_zeny"></div>
			</div>
			<div class="back_button">
				<ui-button
					class="back_success"
					bg="refining_renewal/bt_refining_return_success_normal.bmp"
					down="refining_renewal/bt_refining_return_success_press.bmp"
					><ui-text msg="2973"></ui-text
				></ui-button>
				<ui-button
					class="back_fail"
					bg="refining_renewal/bt_refining_return_fail_normal.bmp"
					down="refining_renewal/bt_refining_return_fail_press.bmp"
					><ui-text msg="2973"></ui-text
				></ui-button>
			</div>
			<div class="refine_cont">
				<ui-button
					class="success_refine_cont_enabled"
					bg="refining_renewal/bt_refining_again_success_normal.bmp"
					down="refining_renewal/bt_refining_again_success_press.bmp"
				></ui-button>
				<div class="success_refine_cont_disabled">
					<ui-image src="refining_renewal/bt_refining_again_success_disable.bmp"></ui-image>
				</div>
				<ui-button
					class="fail_refine_cont_enabled"
					bg="refining_renewal/bt_refining_again_fail_normal.bmp"
					down="refining_renewal/bt_refining_again_fail_press.bmp"
				></ui-button>
				<div class="fail_refine_cont_disabled">
					<ui-image src="refining_renewal/bt_refining_again_fail_disable.bmp"></ui-image>
				</div>
				<div class="refine_text_cont"><ui-text msg="3241"></ui-text></div>
				<div class="chance_rate"></div>
				<div class="refine_zeny_cont"></div>
			</div>
		</div>
		<div class="footer">
			<ui-image src="basic_interface/btnbar_mid2.bmp"></ui-image>
			<div class="some_notifs">
				<div class="notif">
					<ui-image src="refining_renewal/ico_notice.bmp"></ui-image>
				</div>
				<span class="info_msg"></span>
			</div>
			<ui-button
				class="cancel"
				bg="btn_cancel2_normal.bmp"
				hover="btn_cancel2_over.bmp"
				down="btn_cancel2_press.bmp"
			></ui-button>
		</div>
	</div>
</div>
