<div id="chatbox">
	<table class="header" cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody>
			<tr>
				<td class="opttab"><div class="options"></div></td>
			</tr>
		</tbody>
	</table>
	<div class="chat-function">
		<button class="cfunc chatmode" data-background="basic_interface/chatmode_on.bmp"></button>
		<button class="cfunc battleopt" data-background="basic_interface/battle_option2_a.bmp"></button>
		<button class="cfunc stickfucn" data-background="basic_interface/stickoff.bmp"></button>
		<button class="cfunc battleopt2" data-background="basic_interface/battle_option_a.bmp"></button>
		<button class="cfunc wndminib" data-background="basic_interface/wnd_mini_b.bmp"></button>
		<button class="cfunc lockdragwnd" data-background="basic_interface/lock_dragwnd.bmp"></button>
	</div>
	<div class="body">
		<div class="event_add_cursor draggable"></div>
		<div class="contentwrapper"></div>
	</div>

	<div class="battlemode"><button class="bmtoggle">...</button></div>
	<div class="input" data-background="basic_interface/dialog_bg.bmp">
		<input type="text" class="username" />
		<ui-button
			class="list"
			bg="basic_interface/dialog_btn0.bmp"
			hover="basic_interface/dialog_btn1.bmp"
			down="basic_interface/dialog_btn2.bmp"
		></ui-button>
		<div class="wrapper"><div contenteditable="true" class="message input-chatbox"></div></div>
		<button
			class="filter"
			data-background="basic_interface/sys_base_off.bmp"
			data-down="basic_interface/sys_base_off.bmp"
		></button>
		<button
			class="size"
			data-background="basic_interface/sys_base_off.bmp"
			data-down="basic_interface/sys_base_off.bmp"
		></button>
	</div>
</div>
