<div id="QuestInfoV1">
	<div class="titlebar">
		<div class="content">
			<ui-button
				class="quest-info-close-btn"
				bg="basic_interface/sys_close_on.bmp"
				hover="basic_interface/sys_close_off.bmp"
				down="basic_interface/sys_close_off.bmp"
			></ui-button>
			<div class="title">title</div>
			<div class="summary">summary</div>
			<div class="objective">objective</div>
			<div class="monster">monster</div>
			<div class="killed">killed</div>
			<div class="limited">limited</div>
		</div>
	</div>
</div>
