<div id="QuestV1">
	<div class="titlebar">
		<div class="header">
			<div class="corner left" data-background="basic_interface/titlebar_left.bmp"></div>
			<div class="center" data-background="basic_interface/titlebar_mid.bmp"></div>
			<div class="corner right" data-background="basic_interface/titlebar_right.bmp"></div>
			<ui-text class="title" msgid="1317"></ui-text>
			<ui-button
				class="btn-left"
				bg="basic_interface/sys_base_off.bmp"
				hover="basic_interface/sys_base_on.bmp"
			></ui-button>
			<ui-button
				class="btn-right"
				bg="basic_interface/sys_close_off.bmp"
				hover="basic_interface/sys_close_on.bmp"
			></ui-button>
		</div>
		<div class="content">
			<div class="quest-left-panel">
				<ul class="quest-menu">
					<li id="active" class="quest-menu-item"></li>
					<li id="inactive" class="quest-menu-item"></li>
					<li id="all" class="quest-menu-item"></li>
				</ul>
			</div>
			<div class="quest-right-panel">
				<ul id="active-quest-list" class="quest-list"></ul>
				<ul id="inactive-quest-list" class="quest-list"></ul>
				<ul id="all-quest-list" class="quest-list"></ul>
			</div>
		</div>
		<div class="footer">
			<div class="corner left" data-background="basic_interface/btnbar_left2.bmp"></div>
			<div class="center" data-background="basic_interface/btnbar_mid2.bmp"></div>
			<div class="corner right" data-background="basic_interface/btnbar_right2.bmp"></div>
			<div class="btns">
				<ui-button class="btn view" bg="btn_view.bmp" hover="btn_view_a.bmp" down="btn_view_b.bmp"></ui-button>
				<ui-button
					class="btn close"
					bg="btn_close.bmp"
					hover="btn_close_a.bmp"
					down="btn_close_b.bmp"
				></ui-button>
			</div>
		</div>
	</div>
</div>
