<div id="Trade">
	<div class="titlebar">
		<ui-image src="basic_interface/titlebar_mid.bmp"></ui-image>
		Trade : <span class="title"></span>
	</div>
	<div class="overlay"></div>
	<div class="content">
		<ui-image src="basic_interface/exchange_bg2.bmp"></ui-image>
		<div class="box send" data-background="basic_interface/itemwin_mid.bmp"></div>
		<div class="box recv" data-background="basic_interface/itemwin_mid.bmp"></div>

		<input type="text" class="zeny send" value="0" />
		<div class="zeny recv disabled">0</div>

		<ui-button class="btn ok enabled" bg="btn_ok.bmp" hover="btn_ok_a.bmp" down="btn_ok_b.bmp"></ui-button>
		<ui-button class="btn ok disabled" bg="btn_ok_dis.bmp"></ui-button>
		<ui-button
			class="btn trade enabled"
			bg="btn_exchange.bmp"
			hover="btn_exchange_a.bmp"
			down="btn_exchange_b.bmp"
		></ui-button>
		<ui-button class="btn trade disabled" bg="btn_exchange_dis.bmp"></ui-button>
		<ui-button class="btn cancel" bg="btn_cancel.bmp" hover="btn_cancel_a.bmp" down="btn_cancel_b.bmp"></ui-button>
	</div>
</div>
