<div id="EnchantGrade">
	<div class="container">
		<ui-image src="grade_enchant/bg_grade_enchant.bmp"></ui-image>
		<div class="left_panel">
			<div class="enchant_drop_proxy"></div>
			<div class="grade_tank_container">
				<div class="probability"></div>
				<div class="enchant_container"></div>
			</div>
			<div class="grade-wheel"></div>
			<button class="start_grade"></button>
		</div>
		<div class="right_panel">
			<div class="titlebar">
				<ui-button
					class="close_btn"
					bg="cashemotion/btn_close_normal.bmp"
					hover="cashemotion/btn_close_over.bmp"
				></ui-button>
			</div>
			<div class="notification_container">
				<div class="notification_text"></div>
			</div>
			<div class="materials_container">
				<button class="material_slot1 material_slot"></button>
				<button class="material_slot2 material_slot"></button>
				<button class="material_slot3 material_slot"></button>
			</div>
			<div class="additional_materials">
				<div class="chance_panel">
					<ui-button
						class="add_material_btn"
						bg="grade_enchant/btn_chance_up.bmp"
						hover="grade_enchant/btn_chance_up_over.bmp"
						down="grade_enchant/btn_chance_up_pick.bmp"
					></ui-button>
					<ui-button
						class="remove_material_btn"
						bg="grade_enchant/btn_chance_down.bmp"
						hover="grade_enchant/btn_chance_down_over.bmp"
						down="grade_enchant/btn_chance_down_pick.bmp"
					></ui-button>
				</div>
				<div class="BED_container"></div>
			</div>
			<div class="footer">
				<div class="zeny_cost_container"></div>
				<div class="big_close_container">
					<ui-button
						class="big_close_btn"
						bg="inventory/btn_close_out.bmp"
						hover="inventory/btn_close_over.bmp"
						down="inventory/btn_close_press.bmp"
					></ui-button>
				</div>
			</div>
		</div>
	</div>
	<div class="enchant_tooltip"></div>
</div>
