<div id="PetEvolution">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<span class="text" data-text="2567">Pet Evolution</span>
		</div>
		<div class="right">
			<button
				class="base close"
				data-background="basic_interface/sys_close_off.bmp"
				data-hover="basic_interface/sys_close_on.bmp"
			></button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="content">
		<div class="pet_illust_holder">
			<div class="base_pet_illust"></div>
			<div class="next">▶</div>
			<div class="target_pet_illust"></div>
		</div>
		<div class="pet_eggID_holder">
			<div class="base_petEggId"></div>
			<div class="target_petEggId"></div>
		</div>
		<div class="evo_requirements"></div>
		<div class="footer">
			<button
				class="evolve"
				data-background="btn_ok.bmp"
				data-hover="btn_ok_a.bmp"
				data-down="btn_ok_b.bmp"
			></button>
			<button
				class="big_cancel"
				data-background="btn_cancel.bmp"
				data-hover="btn_cancel_a.bmp"
				data-down="btn_cancel_b.bmp"
			></button>
		</div>
	</div>
</div>
