// BC++ has all the necessary preprocessor macros defined automatically
#if !defined(__BORLANDC__)
#include "winres.h"
#endif // !defined(__BORLANDC__)

#define VER_FILEVERSION             1,0,0,2
#define VER_FILEVERSION_STR         "1.0.0.2\0"

#define VER_PRODUCTVERSION          1,0,0,2
#define VER_PRODUCTVERSION_STR      "1.0.0.2\0"

#if defined(DEBUG) || defined(_DEBUG)
#define VER_DEBUG                   0
#else
#define VER_DEBUG                   VS_FF_DEBUG
#endif

#define VER_COMMENTS_STR            "Registers as the unhandled exception handler. Generates reports and minidumps.\0"
#define VER_COMPANYNAME_STR         "eAthena\0"
#define VER_FILEDESCRIPTION_STR     "Stackdump Plugin by eAthena\0"
#define VER_INTERNALNAME_STR        "dbghelpplug\0"
#define VER_LEGALCOPYRIGHT_STR      "Copyright (C) 2008\0"
#define VER_ORIGINALFILENAME_STR    "dbghelpplug.dll\0"
#define VER_PRODUCTNAME_STR         "dbghelpplug\0"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       VER_DEBUG
FILEOS          (VOS_NT|VOS__WINDOWS32)
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "Comments",           VER_COMMENTS_STR
            VALUE "CompanyName",        VER_COMPANYNAME_STR
            VALUE "FileDescription",    VER_FILEDESCRIPTION_STR
            VALUE "FileVersion",        VER_FILEVERSION_STR
            VALUE "InternalName",       VER_INTERNALNAME_STR
            VALUE "LegalCopyright",     VER_LEGALCOPYRIGHT_STR
            VALUE "OriginalFilename",   VER_ORIGINALFILENAME_STR
            VALUE "ProductName",        VER_PRODUCTNAME_STR
            VALUE "ProductVersion",     VER_PRODUCTVERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
