<div id="ShortCutOption" class="pt-page-fadeIn1">
	<div class="border">
		<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
			<div class="left"><span class="text">Shortcut key setting window</span></div>

			<div class="right">
				<button
					class="base close"
					data-background="basic_interface/sys_close_off.bmp"
					data-hover="basic_interface/sys_close_on.bmp"
				></button>
			</div>

			<div class="clear"></div>
		</div>

		<div class="tabs">
			<button class="t_skillbar selectedtab" data-index="t_skillbar">Skill Bar</button
			><button class="t_ui" data-index="t_ui">Interface</button
			><button class="t_macro" data-index="t_macro">Macros</button
			><button class="t_gamepad" data-index="t_gamepad">Gamepad</button>
		</div>
		<div class="panel">
			<div class="content t_skillbar selectedtab">
				<table border="1" cellspacing="0" bordercolor="#aaa">
					<tbody>
						<tr>
							<td>Skill bar 1-1</td>
							<td data-button="F1_1" class="customize"></td>
							<td>Skill bar 2-1</td>
							<td data-button="F2_1" class="customize"></td>
						</tr>
						<tr>
							<td>Skill bar 1-2</td>
							<td data-button="F1_2" class="customize"></td>
							<td>Skill bar 2-2</td>
							<td data-button="F2_2" class="customize"></td>
						</tr>
						<tr>
							<td>Skill bar 1-3</td>
							<td data-button="F1_3" class="customize"></td>
							<td>Skill bar 2-3</td>
							<td data-button="F2_3" class="customize"></td>
						</tr>
						<tr>
							<td>Skill bar 1-4</td>
							<td data-button="F1_4" class="customize"></td>
							<td>Skill bar 2-4</td>
							<td data-button="F2_4" class="customize"></td>
						</tr>
						<tr>
							<td>Skill bar 1-5</td>
							<td data-button="F1_5" class="customize"></td>
							<td>Skill bar 2-5</td>
							<td data-button="F2_5" class="customize"></td>
						</tr>
						<tr>
							<td>Skill bar 1-6</td>
							<td data-button="F1_6" class="customize"></td>
							<td>Skill bar 2-6</td>
							<td data-button="F2_6" class="customize"></td>
						</tr>
						<tr>
							<td>Skill bar 1-7</td>
							<td data-button="F1_7" class="customize"></td>
							<td>Skill bar 2-7</td>
							<td data-button="F2_7" class="customize"></td>
						</tr>
						<tr>
							<td>Skill bar 1-8</td>
							<td data-button="F1_8" class="customize"></td>
							<td>Skill bar 2-8</td>
							<td data-button="F2_8" class="customize"></td>
						</tr>
						<tr>
							<td>Skill bar 1-9</td>
							<td data-button="F1_9" class="customize"></td>
							<td>Skill bar 2-9</td>
							<td data-button="F2_9" class="customize"></td>
						</tr>
						<tr>
							<td>Skill bar 3-1</td>
							<td data-button="F3_1" class="customize"></td>
							<td>Skill bar 4-1</td>
							<td data-button="F4_1" class="customize"></td>
						</tr>
						<tr>
							<td>Skill bar 3-2</td>
							<td data-button="F3_2" class="customize"></td>
							<td>Skill bar 4-2</td>
							<td data-button="F4_2" class="customize"></td>
						</tr>
						<tr>
							<td>Skill bar 3-3</td>
							<td data-button="F3_3" class="customize"></td>
							<td>Skill bar 4-3</td>
							<td data-button="F4_3" class="customize"></td>
						</tr>
						<tr>
							<td>Skill bar 3-4</td>
							<td data-button="F3_4" class="customize"></td>
							<td>Skill bar 4-4</td>
							<td data-button="F4_4" class="customize"></td>
						</tr>
						<tr>
							<td>Skill bar 3-5</td>
							<td data-button="F3_5" class="customize"></td>
							<td>Skill bar 4-5</td>
							<td data-button="F4_5" class="customize"></td>
						</tr>
						<tr>
							<td>Skill bar 3-6</td>
							<td data-button="F3_6" class="customize"></td>
							<td>Skill bar 4-6</td>
							<td data-button="F4_6" class="customize"></td>
						</tr>
						<tr>
							<td>Skill bar 3-7</td>
							<td data-button="F3_7" class="customize"></td>
							<td>Skill bar 4-7</td>
							<td data-button="F4_7" class="customize"></td>
						</tr>
						<tr>
							<td>Skill bar 3-8</td>
							<td data-button="F3_8" class="customize"></td>
							<td>Skill bar 4-8</td>
							<td data-button="F4_8" class="customize"></td>
						</tr>
						<tr>
							<td>Skill bar 3-9</td>
							<td data-button="F3_9" class="customize"></td>
							<td>Skill bar 4-9</td>
							<td data-button="F4_9" class="customize"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="content t_ui">
				<table border="1" cellspacing="0" bordercolor="#aaa">
					<tbody>
						<tr>
							<td>Basic Info</td>
							<td data-button="BasicInfo" class="customize"></td>
							<td>Character Info</td>
							<td data-button="Equipment" class="customize"></td>
						</tr>
						<tr>
							<td>Skill List</td>
							<td data-button="SkillList" class="customize"></td>
							<td>Emotion List</td>
							<td data-button="Emotions" class="customize"></td>
						</tr>
						<tr>
							<td>Friends List</td>
							<td data-button="Friends" class="customize"></td>
							<td>Party Window</td>
							<td data-button="Party" class="customize"></td>
						</tr>
						<tr>
							<td>Pet Info</td>
							<td data-button="PetInfo" class="customize"></td>
							<td>Chat Room</td>
							<td data-button="ChatRoom" class="customize"></td>
						</tr>
						<tr>
							<td>Cart Window</td>
							<td data-button="PushCart" class="customize"></td>
							<td>Item Window</td>
							<td data-button="Inventory" class="customize"></td>
						</tr>
						<tr>
							<td>World Map</td>
							<td data-button="WorldMap" class="customize"></td>
							<td>Guild Info</td>
							<td data-button="Guild" class="customize"></td>
						</tr>
						<tr>
							<td>Homunculus Info</td>
							<td data-button="HomunInfo" class="customize"></td>
							<td>Mercenary Info</td>
							<td data-button="MercInfo" class="customize"></td>
						</tr>
						<tr>
							<td>Homunculus State</td>
							<td data-button="HomunState" class="customize"></td>
							<td>Mercenary State</td>
							<td data-button="MercState" class="customize"></td>
						</tr>
						<tr>
							<td>Sit/Stand</td>
							<td data-button="Sit" class="customize"></td>
							<td>Short Cuts</td>
							<td data-button="ShortCuts" class="customize"></td>
						</tr>
						<tr>
							<td>Chat Bar Size</td>
							<td data-button="ChatSize" class="customize"></td>
							<td>Skill Bar Size</td>
							<td data-button="SkillBarSize" class="customize"></td>
						</tr>
						<tr>
							<td>Quest</td>
							<td data-button="Quest" class="customize"></td>
							<td>Bank</td>
							<td data-button="Bank" class="customize"></td>
						</tr>
						<!--<tr>
                     <td>MobileUI</td>
                     <td data-button="M_UI" class="customize"></td>
                     <td>MUi-Toggle</td>
                     <td data-button="M_Toggle" class="customize"></td>
                  </tr>
                  <tr>
                     <td>MUi-TG</td>
                     <td data-button="M_Targeting" class="customize"></td>
                     <td>MUi-AT</td>
                     <td data-button="M_AutoTarget" class="customize"></td>
                  </tr>
                  <tr>
                     <td>MUi-ATK</td>
                     <td data-button="M_Attack" class="customize"></td>
                  </tr>-->
					</tbody>
				</table>
			</div>
			<div class="content t_macro">
				<table border="1" cellspacing="0" bordercolor="#aaa">
					<tbody>
						<tr>
							<td>Macro 1</td>
							<td data-button="Macro1" class="customize"></td>
							<td>Flag 1</td>
							<td data-button="Flag1" class="customize"></td>
						</tr>
						<tr>
							<td>Macro 2</td>
							<td data-button="Macro2" class="customize"></td>
							<td>Flag 2</td>
							<td data-button="Flag2" class="customize"></td>
						</tr>
						<tr>
							<td>Macro 3</td>
							<td data-button="Macro3" class="customize"></td>
							<td>Flag 3</td>
							<td data-button="Flag3" class="customize"></td>
						</tr>
						<tr>
							<td>Macro 4</td>
							<td data-button="Macro4" class="customize"></td>
							<td>Flag 4</td>
							<td data-button="Flag4" class="customize"></td>
						</tr>
						<tr>
							<td>Macro 5</td>
							<td data-button="Macro5" class="customize"></td>
							<td>Flag 5</td>
							<td data-button="Flag5" class="customize"></td>
						</tr>
						<tr>
							<td>Macro 6</td>
							<td data-button="Macro6" class="customize"></td>
							<td>Flag 6</td>
							<td data-button="Flag6" class="customize"></td>
						</tr>
						<tr>
							<td>Macro 7</td>
							<td data-button="Macro7" class="customize"></td>
							<td>Flag 7</td>
							<td data-button="Flag7" class="customize"></td>
						</tr>
						<tr>
							<td>Macro 8</td>
							<td data-button="Macro8" class="customize"></td>
							<td>Flag 8</td>
							<td data-button="Flag8" class="customize"></td>
						</tr>
						<tr>
							<td>Macro 9</td>
							<td data-button="Macro9" class="customize"></td>
							<td>Flag 9</td>
							<td data-button="Flag9" class="customize"></td>
						</tr>
						<tr>
							<td>Macro 10</td>
							<td data-button="Macro10" class="customize"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="content t_gamepad">
				<table border="1" cellspacing="0" bordercolor="#aaa">
					<tbody>
						<tr title="Define how targets are selected in combat">
							<td>Attack Target Mode</td>
							<td>
								<select class="attackTargetMode">
									<option value="0">Off</option>
									<option value="1">Lowest HP</option>
									<option value="2">Closest</option>
								</select>
							</td>
						</tr>
						<tr title="Choose how skills are cast with gamepad">
							<td>Quick-Cast Mode</td>
							<td>
								<select class="joyQuick">
									<option value="0">Off</option>
									<option value="1">Release Mode</option>
									<option value="2">Instant Mode</option>
								</select>
							</td>
						</tr>
						<tr title="Adjust mouse movement sensitivity for R3 stick">
							<td>Mouse Move</td>
							<td>
								<label style="display: inline-block; width: 90px">
									Sensitivity:
									<input
										class="joySense"
										type="range"
										value="25.0"
										min="1.0"
										max="100.0"
										step="1.0"
										style="width: 90%; vertical-align: middle"
									/>
								</label>
							</td>
						</tr>
						<tr title="Disable mouse input from gamepad for UI interaction">
							<td>Disable Virtual Mouse</td>
							<td>
								<input type="checkbox" class="joyDisableVirtualMouse" />
							</td>
						</tr>
						<tr title="Swap L3 and R3 stick functions">
							<td>Swap L3-R3 Sticks</td>
							<td>
								<input type="checkbox" class="joyReverseStick" />
							</td>
						</tr>
						<tr title="Automatically hide UI during gameplay mouse movement">
							<td>Auto Hide UI</td>
							<td>
								<input type="checkbox" class="joyAutoHide" />
							</td>
						</tr>
						<tr title="Set deadzone threshold for analog sticks">
							<td>Axis Threshold</td>
							<td>
								<label style="display: inline-block; width: 90px">
									Deadline:
									<input
										class="joyDeadline"
										type="range"
										value="0.10"
										min="0.0"
										max="1.0"
										step="0.1"
										style="width: 90%; vertical-align: middle"
									/>
								</label>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<button
				class="button reset left"
				data-background="btn_reset.bmp"
				data-hover="btn_reset_a.bmp"
				data-down="btn_reset_b.bmp"
			></button>
			<button
				class="button ok right"
				data-background="btn_ok.bmp"
				data-hover="btn_ok_a.bmp"
				data-down="btn_ok_b.bmp"
			></button>
			<button
				class="button cancel right"
				data-background="btn_cancel.bmp"
				data-hover="btn_cancel_a.bmp"
				data-down="btn_cancel_b.bmp"
			></button>
			<button
				class="button close right"
				data-background="btn_close.bmp"
				data-hover="btn_close_a.bmp"
				data-down="btn_close_b.bmp"
			></button>
		</div>
	</div>
</div>
