<div class="ItemCompare">
	<div class="container" data-background="basic_interface/collection_comparison_bg.bmp">
		<div class="collection"></div>
		<div class="event_view">
			<button
				class="view"
				data-background="btn_view.bmp"
				data-down="btn_view_a.bmp"
				data-hover="btn_view_b.bmp"
			></button>
			<span class="overlay_open" data-text="1294">Read</span>
			<span class="overlay_read" data-text="1295">Auto Read</span>
		</div>
		<div class="title"></div>
		<div class="description">
			<div class="description-inner"></div>
		</div>
		<button class="extend" data-background="basic_interface/btn_comparison_resize.bmp"></button>
	</div>
	<div class="option-container"></div>
	<div class="cardlist">
		<div class="border"></div>
	</div>
</div>
