/* Go away, Troll */

A,
A:link,
A:visited,
A:active,
A:hover {

color: #000; 

text-decoration: underline; 

background-color : inherit;

} 


html {

	margin: 0px;

	padding: 0px;

}

body {

	background: url(./images/bg.gif);

	margin: 0px 0px 0px 0px;

	padding: 0px 0px 0px 0px;

	font: 14px Arial, arial;

	color: #000;

}

h1 {

	width : 100%;

	height : 40px;

	text-align : bottom;

	font : 30px Arial Black, arial black, helvetica, sans-serif;

}

.w800 {

	width: 800px;

}

#dleftbg,
#drightbg {

	position: absolute;

	width: 50%;

	overflow: hidden;

	height: 69px;

	z-index: 0;

}

#dleftbg {

	top: 66px;

	left: 0px;

	background: url(./images/leftbg.gif);

}

#drightbg {

	top: 105px;

	right: 0px;

	background: url(./images/rightbg.gif);

}

#canvas { 

	position: absolute;
	
	z-index: 1;

	width: 100%;
	
	height: 100%;

}

#ea {

	height: 100%;

}


#leftborderspacer,
#leftbgspacer {

	height: 66px;

}

#rightborderspacer { 

	height: 106px;

}


#leftborder,
#rightborder {

	background: #000;

	width: 1px;

}

.vspacer {



}

#middle {

	background: url(./images/textbg.gif);

	width: 800px;

	height: 100%;

}

#logo {

	background: url(./images/logo.gif) no-repeat top left;

	height: 100%;

}

#title {

	font : 30px Arial Black, arial black, helvetica, sans-serif;

	height: 54px;

}

.navi {

	font : 14px Arial Black, arial black, helvetica, sans-serif;

	height: 88px;

}

#btmborder {

	background: url(./images/btmborderbg.gif);

	height: 2px;

}

.left,
#lefttext,
#leftbtmborder {

	width: 327px;

}

#midtext,
#midbtmborder {

	width: 44px;

}

.right,
#righttext,
#rightbtmborder {

	width: 429px;

}

#content {

	height: 100px;

}

#lefttext,
#righttext {

	background: url(./images/textbg.gif);

	height: 100%;

}

#midtext {

	background: url(./images/logobtm.gif);

	height: 100%;

}