body {
	background-color: #d2afab;
}

#error {
	color: white;
	font-size: 14px;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: 0px 90px;
	padding-left: 230px;
	width: 500px;
	position: absolute;
	top: 150px;
	left: 50%;
	margin-left: -470px;
}
#error h1 {
	font-size: 60px;
	line-height: 40px;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
#error p {
	width: 500px;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	font-size: 16px;
	line-height: 24px;
}
#error h2 {
	color: #745b59;
	font-weight: normal;
	font-size: 14px;
	margin-top: 30px;
	margin-bottom: 5px;
}
#error .trace {
	background-color: #a78582;
	border-radius: 5px;
	line-height: 18px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 2px;
}
