<div id="Storage">
	<div class="titlebar">
		<ui-image src="basic_interface/titlebar_mid.bmp"></ui-image>
		<div class="left">
			<span class="text"><ui-text msg="169">Storage</ui-text></span>
		</div>
		<div class="clear"></div>
	</div>
	<div class="overlay"></div>
	<div class="panel">
		<table>
			<tr>
				<td
					class="tabs"
					rowspan="2"
					data-background="basic_interface/tab_itm_ex_01.bmp"
					data-preload="basic_interface/tab_itm_ex_02.bmp;basic_interface/tab_itm_ex_03.bmp;basic_interface/tab_itm_ex_04.bmp;basic_interface/tab_itm_ex_05.bmp;basic_interface/tab_itm_ex_06.bmp;basic_interface/tab_itm_ex_07.bmp"
				>
					<button class="item"></button>
					<button class="kafra"></button>
					<button class="armor"></button>
					<button class="arms"></button>
					<button class="ammo"></button>
					<button class="card"></button>
					<button class="etc"></button>
				</td>
				<td class="container">
					<div class="content" data-background="basic_interface/itemwin_mid.bmp"></div>
				</td>
			</tr>
			<tr>
				<td class="footer" data-background="basic_interface/btnbar_mid2.bmp">
					<span class="current">0</span>/<span class="limit">0</span>
					<ui-button
						class="close"
						bg="btn_close.bmp"
						hover="btn_close_a.bmp"
						down="btn_close_b.bmp"
					></ui-button>
					<button class="extend" data-background="btn_resize.bmp"></button>
				</td>
			</tr>
		</table>
	</div>
</div>
