<div id="VendingModelMessage">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<button
				class="base"
				data-background="basic_interface/sys_base_off.bmp"
				data-hover="basic_interface/sys_base_on.bmp"
			></button>
			<!-- data-text does not exist -->
			<span class="text">Message</span>
		</div>
		<div class="clear"></div>
	</div>
	<div class="container">
		<div class="text_message">
			<span class="text message"></span>
		</div>
		<div class="btns">
			<button
				class="btn ok"
				data-background="btn_ok.bmp"
				data-hover="btn_ok_a.bmp"
				data-down="btn_ok_b.bmp"
			></button>
		</div>
	</div>
</div>
