<div id="WinLogin">
	<ui-image src="login_interface/win_login.bmp"></ui-image>
	<!-- User Auth -->
	<input class="user" type="text" value="" />
	<input class="pass" type="password" value="" />
	<button
		class="save"
		type="button"
		data-background="login_interface/chk_saveoff.bmp"
		data-preload="login_interface/chk_saveon.bmp"
	></button>

	<!-- Buttons -->
	<button
		class="btn signup"
		type="button"
		data-background="login_interface/btn_request.bmp"
		data-hover="login_interface/btn_request_a.bmp"
		data-down="login_interface/btn_request_b.bmp"
	></button>
	<button
		class="btn connect"
		type="submit"
		data-background="login_interface/btn_connect.bmp"
		data-hover="login_interface/btn_connect_a.bmp"
		data-down="login_interface/btn_connect_b.bmp"
	></button>
	<button
		class="btn exit"
		type="button"
		data-background="login_interface/btn_exit.bmp"
		data-hover="login_interface/btn_exit_a.bmp"
		data-down="login_interface/btn_exit_b.bmp"
	></button>
</div>
