<div id="ChatRoom">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left"><span class="title"></span> (<span class="count"></span>)</div>
		<div class="right">
			<button
				class="base close"
				data-background="basic_interface/sys_close_off.bmp"
				data-hover="basic_interface/sys_close_on.bmp"
			></button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="panel">
		<div class="content resize">
			<div class="messages resize"></div>
			<div class="members resize"></div>
			<div class="clear"></div>
		</div>
		<div class="send">
			<input type="text" name="message" class="sendmsg" />
			<button class="extend" data-background="btn_resize.bmp"></button>
		</div>
	</div>
</div>
