---
BasedOnStyle: Google
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 120
IndentWidth: 4
Language: Cpp
TabWidth: 4
UseTab: ForContinuationAndIndentation
# Replaces any whitespaces between the code and a trailing comment by a single space
SpacesBeforeTrailingComments: 1
BinPackArguments: false
BinPackParameters: false
AccessModifierOffset: -4
IndentCaseLabels: true
PointerAlignment: Left
SortIncludes: true
AlignTrailingComments: false
IndentPPDirectives: BeforeHash
# Put each enum entry into a separate line
AllowShortEnumsOnASingleLine: false
# Prevent newline alignment in Macros
AlignEscapedNewlines: DontAlign
# Break before else in if-else statements
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
# Add missing curly braces
InsertBraces: true
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterForeachMacros: false
  AfterFunctionDeclarationName: false
  AfterFunctionDefinitionName: false
  AfterIfMacros: false
  AfterOverloadedOperator: false
  AfterRequiresInClause: false
  AfterRequiresInExpression: false
  BeforeNonEmptyParentheses: false
IncludeCategories:
  - Regex: '<config/.*h.*>'
    Priority: 3
  - Regex: '<(common|char|login|map)/.*h.*>'
    Priority: 5
  - Regex: '<(httplib.h|libconfig.h|mysql.h|nlohmann/json.hpp|pcre.h|ryml.hpp|ryml_std.hpp|yaml-cpp/yaml.h|zlib.h)>'
    Priority: 4
  - Regex: '<.*\.(h|hpp)>'
    Priority: 2
  - Regex: '<.*'
    Priority: 1
  - Regex: '"(common|char|login|map)/.*hpp"'
    Priority: 6
...
