<div id="CheckAttendance">
	<div class="titlebar" data-background="check_attendance/attendance_bg.bmp">
		<div class="top-panel">
			<div class="top-panel-reward">
				<div class="text">Check Reward</div>
			</div>
			<div class="top-panel-period"></div>
		</div>
		<div class="left-panel">
			<ul class="days-list"></ul>
		</div>
		<div class="right-panel">
			<div class="total-days"></div>
			<div class="npc"></div>
			<div class="remaining-days">
				<div class="remaining-day">
					<div class="remaining-day-text"></div>
				</div>
				<div class="remaining-text">
					<div class="remaining-text-div">Day</div>
				</div>
			</div>
		</div>
		<div class="bottom-panel">
			<div class="close-container">
				<ui-button
					class="close-container-btn"
					bg="check_attendance/bt_ok_normal.bmp"
					down="check_attendance/bt_ok_press.bmp"
					>Close</ui-button
				>
			</div>
		</div>
	</div>
</div>
