<div id="ChatBoxSettings">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<button
				class="base"
				data-background="basic_interface/sys_base_off.bmp"
				data-hover="basic_interface/sys_base_on.bmp"
			></button>
			<span class="title"><span class="tabname"></span> message log settings</span>
		</div>
		<div class="right">
			<button
				class="base close"
				data-background="basic_interface/sys_close_off.bmp"
				data-hover="basic_interface/sys_close_on.bmp"
			></button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="panel" data-background="basic_interface/chatwin1_mid.bmp">
		<div class="content resize">
			<div class="listoption">
				<button data-id="0" data-background="basic_interface/grp_offline.bmp" data-text="1291">
					Public Log
				</button>
				<button data-id="1" data-background="basic_interface/grp_offline.bmp" data-text="1277">
					Public Chat
				</button>
				<button data-id="2" data-background="basic_interface/grp_offline.bmp" data-text="1278">Whisper</button>
				<button data-id="3" data-background="basic_interface/grp_offline.bmp" data-text="1279">Party</button>
				<button data-id="4" data-background="basic_interface/grp_offline.bmp" data-text="1280">Guild</button>
				<button data-id="5" data-background="basic_interface/grp_offline.bmp" data-text="1281">Item</button>
				<button data-id="6" data-background="basic_interface/grp_offline.bmp" data-text="1282">
					Equipment on/off
				</button>
				<button data-id="7" data-background="basic_interface/grp_offline.bmp" data-text="1283">
					Abnormal Status
				</button>
				<button data-id="8" data-background="basic_interface/grp_offline.bmp" data-text="1284">
					Party Item
				</button>
				<button data-id="9" data-background="basic_interface/grp_offline.bmp" data-text="1285">
					Party Status
				</button>
				<button data-id="10" data-background="basic_interface/grp_offline.bmp" data-text="1286">
					Skill Fail
				</button>
				<button data-id="11" data-background="basic_interface/grp_offline.bmp" data-text="1287">
					Party Setup
				</button>
				<button data-id="12" data-background="basic_interface/grp_offline.bmp" data-text="1288">
					Equip Damage
				</button>
				<button data-id="13" data-background="basic_interface/grp_offline.bmp" data-text="1289">WOE</button>
				<button data-id="14" data-background="basic_interface/grp_offline.bmp" data-text="1549">
					Party Search
				</button>
				<button data-id="15" data-background="basic_interface/grp_offline.bmp" data-text="1618">Battle</button>
				<button data-id="16" data-background="basic_interface/grp_offline.bmp" data-text="1619">
					Party Battle
				</button>
				<button data-id="17" data-background="basic_interface/grp_offline.bmp" data-text="1620">EXP</button>
				<button data-id="18" data-background="basic_interface/grp_offline.bmp" data-text="1621">
					Party EXP
				</button>
				<button data-id="19" data-background="basic_interface/grp_offline.bmp" data-text="1622">Quest</button>
				<button data-id="20" data-background="basic_interface/grp_offline.bmp" data-text="1623">
					Battlefield
				</button>
				<button data-id="21" data-background="basic_interface/grp_offline.bmp" data-text="2365">Clan</button>
				<!--<button data-id="22" data-background="basic_interface/grp_offline.bmp" data-text="">Call</button>-->
			</div>
			<div class="clear"></div>
			<div class="footer-opt">All on</div>
		</div>
	</div>
	<button class="extend"></button>
</div>
